@using Wmis.Extensions
<div class="col-md-6">
    <form role="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" data-bind="value: name, valueUpdate: 'keyup'">
        </div>

        <div class="text-right">
            <a href="/StatusRank/Index" class="btn btn-default">
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <span>Cancel</span>
            }
            else
            {
                <span>Back</span>
            }
            </a>
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <button type="submit" class="btn btn-primary" data-bind="click: save, enabled: canSave">Save</button>
            }
        </div>
    </form>
</div>