@using Wmis.Extensions
@{
    ViewBag.Title = "Taxonomy";
    ViewBag.SubTitle = "New";
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/taxonomy/new"))

}

<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">Taxonomy Group</label>
    </div>
    <div class="col-5">
        <el-select v-model="form.taxonomyGroupKey" class="w-100">
            <el-option v-for="item in taxonomyGroups"
                       :key="item.key"
                       :label="item.name"
                       :value="item.key">
            </el-option>
        </el-select>
    </div>
</div>

<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">Name</label>
    </div>
    <div class="col-5 text-end">
        <base-input v-model.trim="form.name" id="name"></base-input>
    </div>
</div>

<div class="row my-3">
    <div class="col-2 text-end">
        <label for="Synonyms">Synonyms</label>
    </div>
    <div class="col-5">
        <synonym-tags :synonyms="form.synonyms" v-model="form.synonyms"></synonym-tags>
    </div>
</div>

<div class="row">
    <div class="col-7 text-end">
        <a href="/Taxonomy/Index" class="btn btn-default">Cancel</a>
        @if (Html.UserIsBiodiversityAdministrator())
        {
            <button type="button" v-on:click.prevent="submit()" class="btn btn-primary" v-bind:class="{'disabled': disabled}">Save</button>
        }
    </div>
</div>
