<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="DixServiceSoapBinding">
					<mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="100000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</mtomMessageEncoding>
					<httpTransport />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://ws-argos.cls.fr/argosDws/services/DixService" binding="customBinding" bindingConfiguration="DixServiceSoapBinding" contract="ArgosService.DixServicePortType" name="DixServicePort" />
		</client>
	</system.serviceModel>
</configuration>