@using Wmis.Extensions
<div class="row">
    <div class="col-md-12 text-right">
	    <a href="/User/Index" class="btn btn-default">
		    @if (Html.UserInAnyAdministratorRole())
		    {
			    <span>Cancel</span>
		    }
		    else
		    {
			    <span>Back</span>
		    }
	    </a>
		@if (Html.UserInAnyAdministratorRole())
		{
			<button type="submit" class="btn btn-primary" data-bind="click: save, enabled: canSave">Save</button>
		}
    </div>
</div>

<div class="row" data-bind="with: user">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#userTab" role="tab" data-toggle="tab">User</a></li>
            <li><a href="#history" role="tab" data-toggle="tab">History</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="margin-top:10px;">
            <!-- Survey -->
            <div class="tab-pane form-horizontal active" id="userTab">
                    <form role="form">                     
                        <div class="form-group">
                            <label for="username" class="col-md-1 control-label">Username</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="username" name="username" data-bind="value: username, valueUpdate: 'keyup'">
                            </div>
                        </div>
                       
	                    <div class="form-group">
		                    <label for="firstName" class="col-md-1 control-label">Name</label>
	                        <div class="col-md-3">
	                            <input type="text" class="form-control" id="name" name="name" data-bind="value: name, valueUpdate: 'keyup'">
	                        </div>
                            <label for="jobTitle" class="col-md-1 control-label">Job Title</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="jobtitle" name="jobtitle" data-bind="value: jobTitle, valueUpdate: 'keyup'">
                            </div>
	                    </div>
						
						<div class="form-group">
							<label for="roles" class="col-md-1 control-label">Roles(s)</label>
							<!-- ko if: $root.roleOptions -->
							<div class="col-md-10">
								<input type="hidden" class="form-control" id="roles" name="roles" data-bind="enable: $root.isLoadedForEditing, select2KeyValueTags: $root.roleOptions" />
							</div>
							<!-- /ko-->
							<!-- ko ifnot: $root.roleOptions -->
							<div class="col-md-3">
								<input type="text" class="form-control" disabled value="Roles can be added after saving" />
							</div>
							<!-- /ko-->
						</div>

	                    <div class="form-group">
                            <label for="projects" class="col-md-1 control-label">Project(s)</label>
                            <!-- ko if: $root.projectOptions -->
                            <div class="col-md-10">
								<input type="hidden" class="form-control" id="projects" name="projects" data-bind="enable: $root.isLoadedForEditing, select2KeyValueTags: $root.projectOptions" />
                            </div>
                            <!-- /ko-->
                            <!-- ko ifnot: $root.projectOptions -->
                            <div class="col-md-3">
                                <input type="text" class="form-control" disabled value="Projects can be added after saving" />
                            </div>
                            <!-- /ko-->
                        </div>
                    </form>
                </div>

            <!-- History Tab -->
            <div id="history" class="tab-pane form-horizontal">
                <div id="historyTemplateTempDiv"></div>
            </div>
        </div>
    </div>
</div>
