<div class="row">
    <div class="col-md-12 text-right">
        <a href="/User/Index" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-primary" data-bind="click: save, enabled: canSave">Save</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#userTab" role="tab" data-toggle="tab">User</a></li>
            <li><a href="#history" role="tab" data-toggle="tab">History</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="margin-top:10px;">
            <!-- Survey -->
            <div class="tab-pane form-horizontal active" id="userTab">
                    <form role="form">                     
                        <div class="form-group">
                            <label for="username" class="col-md-1 control-label">Username</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="username" name="username" data-bind="value: username, valueUpdate: 'keyup'">
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label for="firstName" class="col-md-1 control-label">Name</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="name" name="name" data-bind="value: name, valueUpdate: 'keyup'">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" data-bind="checked: hasAdministratorProjectRole ">
                                        Administrator Projects
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" data-bind="checked: hasAdministratorBiodiversityRole">
                                        Administrator Biodiversity
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="projects" class="col-md-1 control-label">Project(s)</label>
                            <!-- ko if: projectOptions -->
                            <div class="col-md-10">
                                <input type="hidden" class="form-control" id="projects" name="projects" data-bind="enable: isLoadedForEditing, select2KeyValueTags: projectOptions" />
                            </div>
                            <!-- /ko-->
                            <!-- ko ifnot: projectOptions -->
                            <div class="col-md-3">
                                <input type="text" class="form-control" disabled value="Projects can be added after saving" />
                            </div>
                            <!-- /ko-->
                        </div>

                        @*<div class="text-right">
                        <button type="submit" class="btn btn-primary" data-bind="click: save, enabled: canSave">Save</button>
                        <a href="/User/Index" class="btn btn-default">Cancel</a>
                    </div>*@
                    </form>
                </div>

            <!-- History Tab -->
            <div id="history" class="tab-pane form-horizontal">
                <div id="historyTemplateTempDiv"></div>
            </div>
        </div>
    </div>
</div>
