@using Wmis.Extensions
@{
    ViewBag.Title = "WMIS Users";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/user/index"))
}

<div class="row my-3">
    <div class="col-md-12 d-flex justify-content-end">
        @if (Html.UserInAnyAdministratorRole())
        {
            <base-button color="success" v-on:click="newUserModal.show()"><span class="el-icon-plus"></span> New</base-button>
        }
        <base-link-button v-bind:href=`/User/Edit/${selectedKey}` id="editButton" color="info" :disabled="!isSelected">
            <span class="el-icon-view"></span> View
        </base-link-button>
    </div>
</div>

<div class="card border-0">
    <div class="card-body">
        <div class="row g-3 d-flex align-items-center">
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Keyword" id="keyword" v-model="form.keywords">
                    <base-button id="searchbtn">Search</base-button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card my-0">
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
                <table id="userTable" class="table table-sm w-100">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Roles</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>


    </div>
</div>
<!-- New Collar Modal -->
<div class="modal fade" id="newUserModal" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New User</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-12">
                            <lable>Username</lable>
                            <base-input v-model.trim="newUserForm.username" label="Username"></base-input>
                            <small>eg CORP\windowsusername</small>
                        </div>

                        <div class="col-12">
                            <lable>Name</lable>
                            <base-input v-model="newUserForm.name" label="Name"></base-input>
                        </div>
                    </div>
                
            </div>
            <div class="modal-footer">
                <base-button color="danger" data-mdb-dismiss="modal">Cancel</base-button>
                <base-button color="success" :disabled="disableCreate" v-on:click="handleCreateUser()">
                    Save
                </base-button>
            </div>
        </div>
    </div>
</div>
