@using Wmis.Extensions
@{
    ViewBag.Title = "Survey Templates";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/surveytemplate/index"))
}

<div class="row my-3">
    <div class="col-md-12 d-flex justify-content-end">
        @if (Html.UserIsProjectAdministrator())
        {
            <base-button color="success" v-on:click="newTemplateModal.show()"><span class="el-icon-plus"></span> New</base-button>
        }
        <base-link-button v-bind:href=`/SurveyTemplate/Edit/${selectedKey}` id="editButton" color="info" :disabled="!isSelected">
            <span class="el-icon-view"></span> View
        </base-link-button>

    </div>
</div>

<div class="card border-0">
    <div class="card-body">
        <div class="row g-3 d-flex align-items-center">
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Keyword" id="keyword" v-model="form.keywords">
                    <base-button id="searchbtn">Search</base-button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card my-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table id="templateTable" class="table table-sm w-100">
                    <thead>
                        <tr>
                            <th>Survey Template Name</th>
                            <th># of projects used in</th>
                            <th>Created By</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- New Collar Modal -->
<div class="modal fade" id="newTemplateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Survey Template</h5>
                <button type="button" v-on:click="handleCancelModal()" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-12">
                            <lable>Name</lable>
                            <base-input v-model="newTemplateForm.name" label="Name"></base-input>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <base-button color="danger" v-on:click="handleCancelModal()" data-mdb-dismiss="modal">Cancel</base-button>
                <base-button color="success" :disabled="disableCreate" v-on:click="handleCreateTemplate()">
                    Save
                </base-button>
            </div>
        </div>
    </div>
</div>
