@using Wmis.Extensions
<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">Name</label>
    </div>
    <div class="col-5 text-end">
        <base-input v-model.trim="form.name" id="name"></base-input>
    </div>
</div>


<div class="row">
    <div class="col-7 text-end">
        <a href="/StatusRank/Index" class="el-button el-button--danger is-plain">Cancel</a>
        @if (Html.UserIsBiodiversityAdministrator())
        {
            <base-button v-on:click.prevent="submit()" color="success" :disabled="disabled" size="large">Save</base-button>
        }
    </div>
</div>
