@{
    ViewBag.Title = "Argos Service";
}

@section Scripts{
	@Html.Raw(Scripts.Render("~/bundles/knockout"))
	@Html.Raw(Scripts.Render("~/bundles/argosservice/index"))

	<script>
        $(function () {
        	wmis.argosservice.index.initialize({});
        });
	</script>
}

<form role="form">
	<div class="row">
		<div class="col-md-12">
			<a href="/hangfire" class="btn btn-default" style="width: 150px;" role="button">Hangfire Dashboard</a> - For Monitoring Jobs
		</div>
	</div>

	<div class="row" style="padding-top:5px">
		<div class="col-md-12">
			<button type="submit" class="btn btn-default" style="width: 150px;" data-bind="click: updateSchedule">Update Schedule</button>
			- Schedule is determined by ArgosWebserviceScheduleCronExpression key in environment.config file. Currently the value is: <span data-bind="text: scheduleCron"></span>
		</div>
	</div>

    @*<div class="row" style="padding-top: 5px">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default" style="width: 150px;" data-bind="click: getCollarData">Get Collar Data</button>
            - Queues up Jobs to get Argos Collar Data for all active Collars
        </div>
    </div>*@
</form>