@using Wmis.Extensions
<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">Name</label>
    </div>
    <div class="col-5 text-end">
        <base-input v-model.trim="form.name" id="name"></base-input>
    </div>
</div>


<div class="row">
    <div class="col-7 text-end">
        <a href="/Ecoregion/Index" class="btn btn-default">Cancel</a>
        @if (Html.UserIsBiodiversityAdministrator())
        {
            <button type="button" v-on:click.prevent="submit()" class="btn btn-primary" v-bind:class="{'disabled': disabled}">Save</button>
        }
    </div>
</div>
