@using Wmis.Extensions
@{
    ViewBag.Title = "Ecoregions";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/ecoregion/index"))
}

<div class="row my-3">
    <div class="col-md-12 d-flex justify-content-end">

        <div>
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <a href="/Ecoregion/New" class="el-button el-button--success">
                    <span class="el-icon-plus"></span>
                    New
                </a>
            }
            <a v-bind:href=`/Ecoregion/Edit/${selectedKey}` id="editButton" class="el-button el-button--primary btn" v-bind:class="{'disabled' : !isSelected}">
                <span class="el-icon-view"></span>  View
            </a>
        </div>
    </div>
</div>

<div class="card bg-light border border-primary">
    <div class="card-body">
        <div class="row g-3">
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Keywords" id="keyword" v-model="form.keywords">
                    <base-button id="searchbtn"><span class="el-icon-search"></span> Search</base-button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card my-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">

                <table id="ecoregion" class="table table-sm w-100">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>