<div class="row mb-3 d-flex align-items-center">
    <label class="col-md-1 form-label text-end">Collar ID</label>
    <div class="col-md-3">
        <base-input v-model="form.collarId" id="collarId"></base-input>
    </div>

    <label class="col-md-1 text-end">Subscription ID (PTT)</label>
    <div class="col-md-3">
        <base-input v-model="form.subscriptionId" id="subscriptionId"></base-input>
    </div>

    <label class="col-md-1 text-end">VHF Frequency</label>
    <div class="col-md-3">
        <base-input v-model="form.vhfFrequency" id="vhfFrequency"></base-input>
    </div>
</div>


<div class="row mb-3 d-flex align-items-center">
    <label class="col-md-1 form-label text-end">Collar Type</label>
    <div class="col-md-3">
        <el-select class="w-100" v-model="form.collarType.key">
            <el-option :value="0" label="Select Type" disabled></el-option>
            <el-option v-for="item in collarTypes"
                       :key="item.key"
                       :label="item.name"
                       :value="item.key">
            </el-option>
        </el-select>
    </div>

    <label class="col-md-1 text-end">Job Number</label>
    <div class="col-md-3">
        <base-input v-model="form.jobNumber" id="jobNumber"></base-input>
    </div>

    <label class="col-md-1 text-end">Program Number</label>
    <div class="col-md-3">
        <el-select class="w-100" v-model="form.argosProgram.key">
            <el-option :value="0" label="Select Program" disabled></el-option>
            <el-option v-for="item in programs"
                       :key="item.key"
                       :label="item.programNumber"
                       :value="item.key">
            </el-option>
        </el-select>
    </div>

</div>


<div class="row mb-3 d-flex align-items-center">
    <label class="col-md-1 form-label text-end">Region</label>
    <div class="col-md-3">
        <el-select class="w-100" v-model="form.collarRegion.key">
            <el-option :value="0" label="Select Region" disabled></el-option>
            <el-option v-for="item in collarRegions"
                       :key="item.key"
                       :label="item.name"
                       :value="item.key">
            </el-option>
        </el-select>
    </div>

    <label class="col-md-1 text-end">End Date</label>
    <div class="col-md-3">
        <el-date-picker v-model="form.inactiveDate"
                        type="date"
                        class="w-100"
                        value-format="YYYY-MM-DDTHH:mm:ss.SSS">
        </el-date-picker>
    </div>

    <label class="col-md-1 text-end">Deployment Date</label>
    <div class="col-md-3">
        <el-date-picker v-model="form.deploymentDate"
                        type="date"
                        class="w-100"
                        value-format="YYYY-MM-DDTHH:mm:ss.SSS">
        </el-date-picker>
    </div>

</div>

<div class="row mb-3 d-flex align-items-center">
    <label class="col-md-1 form-label text-end">Collar Model</label>
    <div class="col-md-3">
        <base-input v-model="form.model" id="model"></base-input>
    </div>

    <label class="col-md-1 text-end">Collar Status</label>
    <div class="col-md-3">
        <el-select class="w-100" v-model="form.collarStatus.key">
            <el-option :value="0" label="Select Status" disabled></el-option>
            <el-option v-for="item in collarStatuses"
                       :key="item.key"
                       :label="item.name"
                       :value="item.key">
            </el-option>
        </el-select>
    </div>

    <label class="col-md-1 text-end">Collar Malfunction</label>
    <div class="col-md-3">
        <el-select class="w-100" v-model="form.collarMalfunction.key">
            <el-option :value="0" label="Select Malfunction" disabled></el-option>
            <el-option v-for="item in collarMalfunctions"
                       :key="item.key"
                       :label="item.name"
                       :value="item.key">
            </el-option>
        </el-select>
    </div>

</div>


<div class="row gy-3 mb-3 d-flex align-items-center">
    <label class="col-md-1 form-label text-end">Collar State</label>
    <div class="col-md-3">
        <el-select class="w-100" v-model="form.collarState.key">
            <el-option :value="0" label="Select State" disabled></el-option>
            <el-option v-for="item in collarStates"
                       :key="item.key"
                       :label="item.name"
                       :value="item.key">
            </el-option>
        </el-select>
    </div>


    <label class="col-md-1 text-end"></label>
    <div class="col-md-3">
        <el-checkbox v-model="form.hasPttBeenReturned" class="w-100" label="Has PTT been returned?" border></el-checkbox>
    </div>

    <label class="col-md-1 text-end">Geofencing</label>
    <div class="col-md-3">
        <base-input v-model="form.geofencing" id="geofencing"></base-input>
    </div>

    <label class="col-md-1 text-end"></label>
    <div class="col-md-3">
        <el-checkbox v-model="form.releasedOnSchedule" class="w-100" label="Released on schedule?" border></el-checkbox>
    </div>
</div>


<div class="row gy-3 mb-3 d-flex align-items-center">
    <label class="col-md-1 text-end">Comments</label>
    <div class="col-md-11">
        <base-input type="textarea" v-model="form.comments" id="comments"></base-input>
    </div>
</div>


<div class="row gy-3 mb-3 d-flex align-items-center">
    <label class="col-md-1 form-label text-end">Collar Size</label>
    <div class="col-md-3">
        <base-input v-model="form.size" id="size"></base-input>
    </div>


    <label class="col-md-1 form-label text-end">Collar Belting Colour</label>
    <div class="col-md-3">
        <base-input v-model="form.beltingColour" id="beltingColour"></base-input>
    </div>


    <label class="col-md-1 form-label text-end">Firmware Version</label>
    <div class="col-md-3">
        <base-input v-model="form.firmwareVersion" id="firmwareVersion"></base-input>
    </div>

</div>



<div class="row gy-3 mb-3 d-flex align-items-center">
    <label class="col-md-1 form-label text-end">
        Programmed Dropoff
    </label>
    <div class="col-md-3">
        <el-date-picker v-model="form.dropOffDate"
                        type="date"
                        class="w-100"
                        value-format="YYYY-MM-DDTHH:mm:ss.SSS">
        </el-date-picker>
    </div>


    <label class="col-md-1 form-label text-end">
        GPS Battery End
    </label>
    <div class="col-md-3">
        <el-date-picker v-model="form.estimatedGpsBatteryEnd"
                        type="date"
                        class="w-100"
                        value-format="YYYY-MM-DDTHH:mm:ss.SSS">
        </el-date-picker>
    </div>


    <label class="col-md-1 form-label text-end">
        VHF Battery End
    </label>
    <div class="col-md-3">
        <el-date-picker v-model="form.estimatedVhfBatteryEnd"
                        type="date"
                        class="w-100"
                        value-format="YYYY-MM-DDTHH:mm:ss.SSS">
        </el-date-picker>
    </div>

</div>


<div class="row gy-3 mb-3 d-flex align-items-center">
    <label class="col-md-1 form-label text-end">Programming Specifications</label>
    <div class="col-md-11">
        <base-input type="textarea" v-model="form.programmingSpec" id="programmingSpec"></base-input>
    </div>
</div>