<div data-bind="with: collar" class="tab-pane form-horizontal" id="collarTab">
    <div class="form-group">
        <label for="collarId" class="col-md-1 control-label">Collar Id</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="collarId" data-bind="value: collarId">
        </div>

        <label for="subscriptionId" class="col-md-1 control-label">Subscription ID (PTT)</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="subscriptionId" data-bind="value: subscriptionId">
        </div>

        <label for="vhfFrequency" class="col-md-1 control-label">VHF Frequency</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="vhfFrequency" data-bind="value: vhfFrequency">
        </div>
    </div>

    <div class="form-group">
        <label for="collarType" class="col-md-1 control-label">Collar Type</label>
        <div class="col-md-3" data-bind="with: collarType">
            <!-- ko if: $root.dropdowns.collarTypes().length > 0 -->
            <select class="form-control" id="collarType" name="collarType" data-bind="options: $root.dropdowns.collarTypes, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <!-- /ko -->
        </div>

        <label for="jobNumber" class="col-md-1 control-label">Job Number</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="jobNumber" data-bind="value: jobNumber">
        </div>

        <label for="programNumber" class="col-md-1 control-label">Program Number</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="programNumber" data-bind="value: programNumber">
        </div>
    </div>

    <div class="form-group">
        <label for="collarRegion" class="col-md-1 control-label">Region</label>
        <div class="col-md-3" data-bind="with: collarRegion">
            <!-- ko if: $root.dropdowns.collarRegions().length > 0 -->
            <select class="form-control" id="collarRegion" name="collarRegion" data-bind="options: $root.dropdowns.collarRegions, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <!-- /ko -->
        </div>

        <label for="inactiveDate" class="col-md-1 control-label">Inactive Date</label>
        <div class="col-md-3">
            <div class="input-group date" data-bind="datePicker: inactiveDate">
                <input type="text" class="form-control" readonly="readonly">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            @*<input class="form-control" id="inactiveDate" type="date" data-bind="value: inactiveDate" />*@
        </div>

        <label for="deploymentDate" class="col-md-1 control-label">Deployment Date</label>
        <div class="col-md-3">
            <div class="input-group date" data-bind="datePicker: deploymentDate">
                <input type="text" class="form-control" readonly="readonly">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            @*<input class="form-control" id="deploymentDate" type="date" data-bind="value: deploymentDate" />*@
        </div>
    </div>

    <div class="form-group">
        <label for="collarModel" class="col-md-1 control-label">Collar Model</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="collarModel" data-bind="value: model">
        </div>

        <label for="collarStatus" class="col-md-1 control-label">Collar Status</label>
        <div class="col-md-3" data-bind="with: collarStatus">
            <!-- ko if: $root.dropdowns.collarStatuses().length > 0 -->
            <select class="form-control" id="collarStatus" name="collarStatus" data-bind="options: $root.dropdowns.collarStatuses, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <!-- /ko -->
        </div>

        <label for="collarMalfunction" class="col-md-1 control-label">Collar Malfunction</label>
        <div class="col-md-3" data-bind="with: collarMalfunction">
            <!-- ko if: $root.dropdowns.collarMalfunctions().length > 0 -->
            <select class="form-control" id="collarMalfunction" name="collarMalfunction" data-bind="options: $root.dropdowns.collarMalfunctions, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <!-- /ko -->
        </div>
    </div>


    <div class="form-group">
        <label for="collarState" class="col-md-1 control-label">Collar State</label>
        <div class="col-md-3" data-bind="with: collarState">
            <!-- ko if: $root.dropdowns.collarStates().length > 0 -->
            <select class="form-control" id="collarState" name="collarState" data-bind="options: $root.dropdowns.collarStates, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <!-- /ko -->
        </div>

        <label for="hasPttBeenReturned" class="col-md-2 control-label">Has PTT been returned?</label>
        <div class="col-md-2">
            <input id="hasPttBeenReturned" type="checkbox" data-bind="checked: hasPttBeenReturned" />
        </div>
    </div>

    <div class="form-group">
        <label for="comments" class="col-md-1 control-label">Comments</label>
        <div class="col-md-11">
            <textarea rows="4" name="comments" class="form-control" data-bind="value: comments"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 h4">
            <div class="row">
                <div class="col-md-4">Project</div>
                <div class="col-md-8 text-right">
                    <button class="btn btn-default" data-bind="visible: !$root.projectActions.projectData(), click: $root.projectActions.assignProject">Assign Project</button>
                    <button class="btn btn-default" data-bind="visible: $root.projectActions.projectData, click: $root.projectActions.assignProject">Assign New Project</button>
                    <button class="btn btn-default" data-bind="visible: $root.projectActions.projectData, click: $root.projectActions.unassignProject">Unassign Project</button>
                </div>
            </div>
            <hr />
        </div>

        <div class="form-group" data-bind="with: $root.projectActions.projectData">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Project ID</td>
                            <td>Name</td>
                            <td>Lead Region</td>
                            <td>Project Lead</td>
                            <td>Status</td>
                            <td>Status Date</td>
                            <td>Start Date</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-bind="text: key"></td>
                            <td data-bind="text: name"></td>
                            <td data-bind="with: leadRegion">
                                <!-- ko if: key != 0 -->
                                <span data-bind="text: name"></span>
                                <!-- /ko -->
                            </td>
                            <td data-bind="with: projectLead">
                                <!-- ko if: key != 0 -->
                                <span data-bind="text: name"></span>
                                <!-- /ko -->
                            </td>
                            <td data-bind="with: status">
                                <!-- ko if: key != 0 -->
                                <span data-bind="text: name"></span>
                                <!-- /ko -->
                            </td>
                            <td data-bind="dateText: statusDate"></td>
                            <td data-bind="dateText: startDate"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label for="size" class="col-md-1 control-label">Collar Size</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="size" data-bind="value: size" />
            </div>

            <label for="beltingColour" class="col-md-1 control-label">Collar Belting Colour</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="beltingColour" data-bind="value: beltingColour" />
            </div>

            <label for="firmwareVersion" class="col-md-1 control-label">Firmware Version</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="firmwareVersion" data-bind="value: firmwareVersion" />
            </div>
        </div>

        <div class="form-group">
            <label for="dropOffDate" class="col-md-2 control-label">Drop-off Date</label>
            <div class="col-md-2">
                <div class="input-group date" data-bind="datePicker: dropOffDate">
                    <input type="text" class="form-control" readonly="readonly">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                @*<input class="form-control" id="dropOffDate" type="date" data-bind="value: dropOffDate" />*@
            </div>

            <label for="estimatedDropOff" class="col-md-2 control-label">Est. Dropoff</label>
            <div class="col-md-2">
                <div class="input-group date" data-bind="datePicker: estimatedDropOff">
                    <input type="text" class="form-control" readonly="readonly">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                @*<input class="form-control" id="estimatedDropOff" type="date" data-bind="value: estimatedDropOff" />*@
            </div>
        </div>

        <div class="form-group">
            <label for="estimatedGpsFailure" class="col-md-2 control-label">Est. GPS Failure</label>
            <div class="col-md-2">
                <div class="input-group date" data-bind="datePicker: estimatedGpsFailure">
                    <input type="text" class="form-control" readonly="readonly">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                @*<input class="form-control" id="estimatedGpsFailure" type="date" data-bind="value: estimatedGpsFailure" />*@
            </div>

            <label for="estimatedGpsBatteryEnd" class="col-md-2 control-label">Est. GPS Battery End</label>
            <div class="col-md-2">
                <div class="input-group date" data-bind="datePicker: estimatedGpsBatteryEnd">
                    <input type="text" class="form-control" readonly="readonly">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                @*<input class="form-control" id="estimatedGpsBatteryEnd" type="date" data-bind="value: estimatedGpsBatteryEnd" />*@
            </div>
        </div>

        <div class="form-group">
            <label for="estimatedVhfFailure" class="col-md-2 control-label">Estimated VHF Failure</label>
            <div class="col-md-2">
                <div class="input-group date" data-bind="datePicker: estimatedVhfFailure">
                    <input type="text" class="form-control" readonly="readonly">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                @*<input class="form-control" id="estimatedVhfFailure" type="date" data-bind="value: estimatedVhfFailure" />*@
            </div>

            <label for="estimatedVhfBatteryEnd" class="col-md-2 control-label">Est. VHF Battery End</label>
            <div class="col-md-2">
                <div class="input-group date" data-bind="datePicker: estimatedVhfBatteryEnd">
                    <input type="text" class="form-control" readonly="readonly">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                @*<input class="form-control" id="estimatedVhfBatteryEnd" type="date" data-bind="value: estimatedVhfBatteryEnd" />*@
            </div>
        </div>
    </div>


</div>
