@{
	ViewBag.TabTitle = "WMIS Home";
}
<div class="jumbotron" style="background-image:URL('content/images/landing_WMIS.jpg'); min-height:350px; margin-bottom:0;">
    <h1></h1>
    <p></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Support Contact Info</h3>
    </div>
    <div class="col-md-6">
        @*<img src="content/images/landing_WMIS.jpg">*@
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Bonnie Fournier</h4>
                <p>
                    GIS and Wildlife Data Specialist,<br />
                    Biodiversity Conservation, Wildlife Division, ENR<br />
                    Phone: 867-767-9237, ext. 53221<br />
                    Email: Bonnie_Fournier@gov.nt.ca
                </p>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Cyprian Ngolah</h4>
                <p>
                    Application Administrator,<br />
                    Biodiversity Conservation, Wildlife Division, ENR<br />
                    Phone: 867-767-9237, ext. 53229<br />
                    Email: Cyprian_Ngolah@gov.nt.ca
                </p>
            </li>
        </ul>
    </div>
</div>