@{
    ViewBag.TabTitle = "WMIS Home";
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/home/index"))
}

@*<div class="p-5 mb-4 bg-lightx rounded-3" style="background-color: #6f5499;" >
        <div class="container-fluid py-5 text-center">
            <h1 class="display-6 fw-bold text-info">Wildlife Management Information System</h1>
            <h1 class="display-4 fw-bold text-info">- WMIS -</h1>
            <p class="col-md-12 fs-4">
                ENR's Wildlife Data Repository
            </p>
            <button class="btn btn-primary btn-lg" type="button">Example button</button>
        </div>
    </div>*@

<div class="container px-5 py-3">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="rounded-4 text-white d-flex align-items-end justify-content-center py-4 px-5" style="background-image: url('content/images/landing_WMIS.jpg'); min-height: 450px; background-size: cover;">
                <h5 class="text-white h4 rounded-3 fw-bold p-3" style="background-color: rgba(0,0,0,.3)">The repository for Wildlife Research and Monitoring data in the Northwest Territories</h5>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 mb-3">
            <h4 class="h4">Support Contact Info</h4>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>Robin Abernethy</h5>
                    <p>
                        GIS and Wildlife Data Specialist,<br />
                        Biodiversity Conservation, Wildlife Division, ENR<br />
                        Phone: 867-767-9237, ext. 53217<br />
                        Email: Robin_Abernethy@gov.nt.ca
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>Cyprian Ngolah</h5>
                    <p>
                        Senior Wildlife Data Applications Specialist,<br />
                        Biodiversity Conservation, Wildlife Division, ENR<br />
                        Phone: 867-767-9237, ext. 53229<br />
                        Email: Cyprian_Ngolah@gov.nt.ca
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>