@{
    ViewBag.TabTitle = "WMIS Home";
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/home/index"))
}

@*<div class="jumbotron" style="background-image:URL('content/images/landing_WMIS.jpg'); min-height:350px; margin-bottom:0;">
    <h1></h1>
    <p></p>
</div>
*@
<div class="p-5 mb-4 bg-light rounded-3" >
    <div class="container-fluid py-5 text-center">
        <h1 class="display-6 fw-bold text-info">Wildlife Management Information System</h1>
        <h1 class="display-4 fw-bold text-info">- WMIS -</h1>
        <p class="col-md-12 fs-4">
            ENR's Wildlife Data Repository
        </p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-3">
        <h3 class="h3">Support Contact Info</h3>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Robin Abernethy</h4>
                <p>
                    GIS and Wildlife Data Specialist,<br />
                    Biodiversity Conservation, Wildlife Division, ENR<br />
                    Phone: 867-767-9237, ext. 53217<br />
                    Email: Robin_Abernethy@gov.nt.ca
                </p>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Cyprian Ngolah</h4>
                <p>
                    Senior Wildlife Data Applications Specialist,<br />
                    Biodiversity Conservation, Wildlife Division, ENR<br />
                    Phone: 867-767-9237, ext. 53229<br />
                    Email: Cyprian_Ngolah@gov.nt.ca
                </p>
            </li>
        </ul>
    </div>
</div>