<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="environmentName" value="fallback"/>
		<add key="ArgosWebserviceScheduleCronExpression" value="" />

    <!--Location of Argos processed(converted) aws files. Value format: [server];[folder]  -->
    <add key="processedArgosCollarsDirectory" value="MIT052;ADSProcessed"/>
  </appSettings>

  <connectionStrings>
		<add name="WMIS" connectionString="Data Source=.;Initial Catalog=WMIS-Prod;User ID=WMISUser;Password=0rangeWMIS$!" />
  </connectionStrings>
</configuration>