<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="environmentName" value="fallback"/>
	</appSettings>

	<connectionStrings>
		<add name="WMIS" connectionString="Data Source=GREG-PC\SQLSERVER2012;Initial Catalog=WMIS;User ID=WMISUser;Password=0rangeWMIS$!" />
	</connectionStrings>
</configuration>
