<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="environmentName" value="fallback"/>

    <!--Location of Argos processed(converted) aws files. Value format: [server];[folder]  -->
    <add key="processedArgosCollarsDirectory" value="GABS;ADSProcessed"/>
    <add key="processedLotekCollarsDirectory" value="GABS;ADSProcessed\LotekIridium\Position Data"/>
	</appSettings>

	<connectionStrings>
    <add name="WMIS" connectionString="Data Source=GABS-PC;Initial Catalog=WMIS-Dev;User ID=WMISUser;Password=Den455-Idle429" />
	</connectionStrings>
</configuration>