<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="environmentName" value="fallback"/>

    <!--Location of Argos processed(converted) aws files. Value format: [server];[folder]  -->
    <add key="processedArgosCollarsDirectory" value="216.108.155.51;ADSProcessed"/>
    <add key="processedLotekCollarsDirectory" value="216.108.155.51;ADSProcessed\LotekIridium\Position Data"/>
	</appSettings>
	<connectionStrings>
		<add name="WMIS" connectionString="Data Source=YKVSQL44t\SQL1;Initial Catalog=WMIS-Test;User ID=WMISUser;Password=0rangeWMIS$!" />
	</connectionStrings>
</configuration>
