<div class="tab-pane fade py-3" id="abundance">
    <div class="card mb-3">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Population'
                              :category_id="19"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Population Size</label>
                <div class="col-md-1">
                    <base-input v-model="form.populationSizeScore" id="populationSizeScore"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.populationSizeDescription" id="populationSizeDescription"></base-input>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Occurrences'
                              :category_id="20"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Number of Occurences</label>
                <div class="col-md-1">
                    <base-input v-model="form.numberOfOccurencesScore" id="numberOfOccurencesScore"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.numberOfOccurencesDescription" id="numberOfOccurencesDescription"></base-input>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Density'
                              :category_id="21"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.densityDescription" id="densityDescription"></base-input>
                </div>
            </div>
        </div>
    </div>

</div>