<div class="tab-pane fade py-3" id="abundance">
    <div class="card border-1 shadow-0 mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Population'
                              :category_id="19"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-3 col-lg-2 col-form-label text-md-end text-lg-end">Population Size</label>
                <div class="col-md-2 col-lg-2">
                    <base-input v-model="form.populationSizeScore" id="populationSizeScore"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-lg-2 col-form-label text-lg-end">Description</label>
                <div class="col-lg-10">
                    <base-input type="textarea" v-model="form.populationSizeDescription" id="populationSizeDescription"></base-input>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-1 shadow-0 mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Occurrences'
                              :category_id="20"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-3 col-lg-2 col-form-label text-md-end text-lg-end">Number of Occurences</label>
                <div class="col-md-2 col-lg-2">
                    <base-input v-model="form.numberOfOccurencesScore" id="numberOfOccurencesScore"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-lg-2 col-form-label text-lg-end">Description</label>
                <div class="col-lg-10">
                    <base-input type="textarea" v-model="form.numberOfOccurencesDescription" id="numberOfOccurencesDescription"></base-input>
                </div>
            </div>
        </div>
    </div>


    <div class="card border-1 shadow-0 mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Density'
                              :category_id="21"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="group" class="col-lg-2 col-form-label text-lg-end">Description</label>
                <div class="col-lg-10">
                    <base-input type="textarea" v-model="form.densityDescription" id="densityDescription"></base-input>
                </div>
            </div>
        </div>
    </div>

</div>