@using Wmis.Extensions
@{
    ViewBag.Title = "Biodiversity Decision";
    ViewBag.SubTitle = @"<span><br>
    <span>{{form ? form.commonName : ''}}</span>
    (<span class='speciesNameText'>{{form ? form.name : ''}}</span>)
    <span>{{form ? form.ecoType : ''}}</span>
</span>";
}

@section Scripts{
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/biodiversity/decision/edit"))
}


@section TopRight{
    <div class="h4 text-end">
        <span>Status Rank: <strong><span>{{form.statusRank ? form.statusRank.name : ""}}</span></strong><br /></span>
        <span class="h5">Last Updated: <span>{{ lastUpdated }}</span> 
        </span>
    </div>
}

<form role="form" v-on:submit.prevent="submit">
    <div class="row">
        <div class="col-md-12 text-end">
            <a href="/BioDiversity" class="btn btn-default">
                @if (Html.UserIsBiodiversityAdministrator())
                {
                    <span>Cancel</span>
                }
                else
                {
                    <span>Back</span>
                }
            </a>
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <button type="submit" class="btn btn-primary" v-bind:class="{'disabled' : disabled }">Save</button>
            }
        </div>
    </div>

    <div class="mb-4">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Rarity
                </h4>
                <hr />
            </div>
        </div>

        @*Range Extent*@
        <div class="row mb-3 align-items-center generalGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.rangeExtentScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Range Extent</div>
            <div class="col-md-10">
                <textarea id="rangeExtent" rows="4" class="form-control" v-model="form.rangeExtentDescription"></textarea>
            </div>
        </div>

        @*Area of occupancy*@
        <div class="row mb-3 align-items-center generalGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.areaOfOccupancyScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Area of Occupancy</div>
            <div class="col-md-10">
                <textarea id="areaOfOccupancyDescription" rows="4" class="form-control" v-model="form.areaOfOccupancyDescription"></textarea>
            </div>
        </div>


        @*Population Size*@
        <div class="row mb-3 align-items-center abundanceGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.populationSizeScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Population Size</div>
            <div class="col-md-10">
                <textarea id="areaOfOccupancyDescription" rows="4" class="form-control" v-model="form.populationSizeDescription"></textarea>
            </div>
        </div>

        @*Number of occurrence*@
        <div class="row mb-3 align-items-center abundanceGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.numberOfOccurencesScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Number of Occurences</div>
            <div class="col-md-10">
                <textarea id="numberOfOccurencesDescription" rows="4" class="form-control" v-model="form.numberOfOccurencesDescription"></textarea>
            </div>
        </div>


        @*Env specificity*@
        <div class="row mb-3 align-items-center distributionGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.environmentalSpecificityScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Environmental Specificity</div>
            <div class="col-md-10">
                <textarea id="environmentalSpecificityDescription" rows="4" class="form-control" v-model="form.environmentalSpecificityDescription"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>
                    Trends
                </h4>
                <hr />
            </div>
        </div>


        @*Env specificity*@
        <div class="row mb-3 align-items-center trendsGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.longTermTrendsScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Long-term Trends</div>
            <div class="col-md-10">
                <textarea id="longTermTrendsDescription" rows="4" class="form-control" v-model="form.longTermTrendsDescription"></textarea>
            </div>
        </div>


        <div class="row mb-3 align-items-center trendsGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.shortTermTrendsScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Short-term Trends</div>
            <div class="col-md-10">
                <textarea id="shortTermTrendsDescription" rows="4" class="form-control" v-model="form.shortTermTrendsDescription"></textarea>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h4>
                    Threats
                </h4>
                <hr />
            </div>
        </div>

        <div class="row mb-3 align-items-center threatsGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.threatsScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Threats</div>
            <div class="col-md-10">
                <textarea id="threatsDescription" rows="4" class="form-control" v-model="form.threatsDescription"></textarea>
            </div>
        </div>


        <div class="row mb-3 align-items-center threatsGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.intrinsicVulnerabilityScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Intrinsic Vulnerability</div>
            <div class="col-md-10">
                <textarea id="intrinsicVulnerabilityDescription" rows="4" class="form-control" v-model="form.intrinsicVulnerabilityDescription"></textarea>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h4>
                    Ranks
                </h4>
                <hr />
            </div>
        </div>

        <div class="row align-items-center mb-3">
            <div class="col-md-2 text-end">Rank</div>
            <div class="col-md-2">
                <el-select v-model="form.statusRank" value-key="key" filterable placeholder="Select Status">
                    <el-option v-for="item in statusRanks"
                               :key="item.key"
                               :label="item.name"
                               :value="item">
                    </el-option>
                </el-select>
            </div>
            <div class="col-md-2 text-end">S Rank</div>
            <div class="col-md-2 statusGroup">
                <base-input v-model="form.sRank"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Rank Description</div>
            <div class="col-md-10">
                <textarea id="statusRankDescription" rows="4" class="form-control" v-model="form.statusRankDescription"></textarea>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Decision Process</div>
            <div class="col-md-10">
                <textarea id="decisionProcessDescription" rows="4" class="form-control" v-model="form.decisionProcessDescription"></textarea>
            </div>
        </div>

        <div class="row gy-3 my-3">
            <div class="col-md-2 text-end">NWT SARC Assessment</div>
            <div class="col-md-4">
                <el-select v-model="form.nwtSarcAssessment" value-key="key"  filterable placeholder="Select Status">
                    <el-option v-for="item in nwtSarcAssessments"
                               :key="item.key"
                               :label="item.name"
                               :value="item">
                    </el-option>
                </el-select>
            </div>

            <div class="col-md-2 text-end">N Rank</div>
            <div class="col-md-4">
                <base-input v-model="form.nRank">
            </div>

            <div class="col-md-2 text-end">COSEWIC Status</div>
            <div class="col-md-4">
                <el-select v-model="form.cosewicStatus" value-key="key" filterable placeholder="Select Status">
                    <el-option v-for="item in cosewicStatuses"
                               :key="item.key"
                               :label="item.name"
                               :value="item">
                    </el-option>
                </el-select>
            </div>

            <div class="col-md-2 text-end">SARA Status</div>
            <div class="col-md-4">
                <el-select v-model="form.saraStatus" value-key="key" filterable placeholder="Select Status">
                    <el-option v-for="item in cosewicStatuses"
                               :key="item.key"
                               :label="item.name"
                               :value="item">
                    </el-option>
                </el-select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 text-end">G Rank</div>
            <div class="col-md-4">
                <base-input v-model="form.gRank"></base-input>
            </div>

            <div class="col-md-2 text-end">IUCN Status</div>
            <div class="col-md-4">
                <base-input v-model="form.iucnStatus"></base-input>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12 text-end">
            <a href="/BioDiversity" class="btn btn-default">
                @if (Html.UserIsBiodiversityAdministrator())
                {
                    <span>Cancel</span>
                }
                else
                {
                    <span>Back</span>
                }
            </a>
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <button type="submit" class="btn btn-primary" v-bind:class="{'disabled' : disabled }">Save</button>
            }
        </div>
    </div>
</form>