@using Wmis.Extensions
@{
    ViewBag.Title = "Biodiversity Decision";
    ViewBag.SubTitle = @"<span><br>
<span>{{form ? form.commonName : ''}}</span>
(<span class='speciesNameText'>{{form ? form.name : ''}}</span>)
<span>{{form ? form.ecoType : ''}}</span>
</span>";
}

@section Scripts{
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/biodiversity/decision/edit"))
}


@section TopRight{
    <div class="h5 text-end">
        <span>Status Rank: <strong><span>{{form.statusRank ? form.statusRank.name : ""}}</span></strong><br /></span>
        <span class="h6">
            Last Updated: <span>{{ lastUpdated }}</span>
        </span>
    </div>
}

<div class="row">
    <div class="col-md-12 text-end">
        <base-link-button href="/BioDiversity/">
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <span>Cancel</span>
            }
            else
            {
                <span>Back</span>
            }
        </base-link-button>
        @if (Html.UserIsBiodiversityAdministrator())
        {
            <base-button :disabled="disabled" v-on:click="submit()" color="success">Save</base-button>
        }
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h5 class="m-0">
            Rarity
        </h5>
    </div>
    <div class="card-body">
        @*Range Extent*@
        <div class="row mb-3 align-items-center generalGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.rangeExtentScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Range Extent</div>
            <div class="col-md-10">
                <base-input type="textarea" v-model="form.rangeExtentDescription"></base-input>
            </div>
        </div>

        @*Area of occupancy*@
        <div class="row mb-3 align-items-center generalGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.areaOfOccupancyScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Area of Occupancy</div>
            <div class="col-md-10">
                <base-input type="textarea" v-model="form.areaOfOccupancyDescription"></base-input>
            </div>
        </div>


        @*Population Size*@
        <div class="row mb-3 align-items-center abundanceGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.populationSizeScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Population Size</div>
            <div class="col-md-10">
                <base-input type="textarea" v-model="form.populationSizeDescription"></base-input>
            </div>
        </div>

        @*Number of occurrence*@
        <div class="row mb-3 align-items-center abundanceGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.numberOfOccurencesScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Number of Occurences</div>
            <div class="col-md-10">
                <base-input type="textarea" v-model="form.numberOfOccurencesDescription"></base-input>
            </div>
        </div>


        @*Env specificity*@
        <div class="row mb-3 align-items-center distributionGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.environmentalSpecificityScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Environmental Specificity</div>
            <div class="col-md-10">
                <base-input type="textarea" v-model="form.environmentalSpecificityDescription"></base-input>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h5 class="m-0">
            Trends
        </h5>
    </div>
    <div class="card-body">
        @*Env specificity*@
        <div class="row mb-3 align-items-center trendsGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.longTermTrendsScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Long-term Trends</div>
            <div class="col-md-10">
                <base-input type="textarea" v-model="form.longTermTrendsDescription"></base-input>
            </div>
        </div>


        <div class="row mb-3 align-items-center trendsGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.shortTermTrendsScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Short-term Trends</div>
            <div class="col-md-10">
                <base-input type="textarea" v-model="form.shortTermTrendsDescription"></base-input>
            </div>
        </div>
    </div>
</div>


<div class="card mt-3">
    <div class="card-header">
        <h5 class="m-0">
            Threats
        </h5>
    </div>
    <div class="card-body">
        <div class="row mb-3 align-items-center threatsGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.threatsScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Threats</div>
            <div class="col-md-10">
                <base-input type="textarea" v-model="form.threatsDescription"></base-input>
            </div>
        </div>


        <div class="row mb-3 align-items-center threatsGroup">
            <div class="col-md-10 text-end">Score</div>
            <div class="col-md-2">
                <base-input v-model="form.intrinsicVulnerabilityScore"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Intrinsic Vulnerability</div>
            <div class="col-md-10">
                <base-input type="textarea" v-model="form.intrinsicVulnerabilityDescription"></base-input>
            </div>
        </div>
    </div>
</div>
<!------------------------>

<div class="card mt-3">
    <div class="card-header">
        <h5 class="m-0">
            Ranks
        </h5>
    </div>
    <div class="card-body">
        <div class="row align-items-center mb-3">
            <div class="col-md-2 text-end">Rank</div>
            <div class="col-md-2">
                <el-select v-model="form.statusRank" value-key="key" filterable placeholder="Select Status">
                    <el-option v-for="item in statusRanks"
                               :key="item.key"
                               :label="item.name"
                               :value="item">
                    </el-option>
                </el-select>
            </div>
            <div class="col-md-2 text-end">S Rank</div>
            <div class="col-md-2 statusGroup">
                <base-input v-model="form.sRank"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Rank Description</div>
            <div class="col-md-10">
                <base-input type="textarea" v-model="form.statusRankDescription"></base-input>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 text-end">Decision Process</div>
            <div class="col-md-10">
                <base-input type="textarea" v-model="form.decisionProcessDescription"></base-input>
            </div>
        </div>

        <div class="row gy-3 my-3">
            <div class="col-md-2 text-end">NWT SARC Assessment</div>
            <div class="col-md-4">
                <el-select v-model="form.nwtSarcAssessment" value-key="key" filterable placeholder="Select Status">
                    <el-option v-for="item in nwtSarcAssessments"
                               :key="item.key"
                               :label="item.name"
                               :value="item">
                    </el-option>
                </el-select>
            </div>

            <div class="col-md-2 text-end">N Rank</div>
            <div class="col-md-4">
                <base-input v-model="form.nRank">
            </div>

            <div class="col-md-2 text-end">COSEWIC Status</div>
            <div class="col-md-4">
                <el-select v-model="form.cosewicStatus" value-key="key" filterable placeholder="Select Status">
                    <el-option v-for="item in cosewicStatuses"
                               :key="item.key"
                               :label="item.name"
                               :value="item">
                    </el-option>
                </el-select>
            </div>

            <div class="col-md-2 text-end">SARA Status</div>
            <div class="col-md-4">
                <el-select v-model="form.saraStatus" value-key="key" filterable placeholder="Select Status">
                    <el-option v-for="item in cosewicStatuses"
                               :key="item.key"
                               :label="item.name"
                               :value="item">
                    </el-option>
                </el-select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 text-end">G Rank</div>
            <div class="col-md-4">
                <base-input v-model="form.gRank"></base-input>
            </div>

            <div class="col-md-2 text-end">IUCN Status</div>
            <div class="col-md-4">
                <base-input v-model="form.iucnStatus"></base-input>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3">
    <div class="col-md-12 text-end">
        <base-link-button href="/BioDiversity/">
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <span>Cancel</span>
            }
            else
            {
                <span>Back</span>
            }
        </base-link-button>
        @if (Html.UserIsBiodiversityAdministrator())
        {
            <base-button :disabled="disabled" v-on:click="submit()" color="success">Save</base-button>
        }
    </div>
</div>