<div id="distribution" class="tab-pane form-horizontal">
    <div class="row">
        <div class="col-md-12 h4">
            <div class="row">
                <div class="col-md-4">Distribution in NWT</div>
                <div class="col-md-8 text-right">
                    <reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Distribution in NWT', categoryId: 14"></reference-widget>
                </div>
            </div>
            <hr />
        </div>
    </div>

    <div class="form-group">
        <label for="rangeExtentScore" class="col-md-2 control-label">Range Extent</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="rangeExtentScore" data-bind="value: rangeExtentScore">
        </div>
        <label for="distributionPercentage" class="col-md-2 control-label">Percentage</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="distributionPercentage" data-bind="value: distributionPercentage">
        </div>
    </div>

    <div class="form-group">
        <label for="rangeExtentDescription" class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
            <textarea rows="4" name="rangeExtentDescription" class="form-control" data-bind="value: rangeExtentDescription"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="areaOfOccupancyScore" class="col-md-2 control-label">Area of Occupancy</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="areaOfOccupancyScore" data-bind="value: areaOfOccupancyScore">
        </div>
    </div>

    <div class="form-group">
        <label for="areaOfOccupancyDescription" class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
            <textarea rows="4" name="areaOfOccupancyDescription" class="form-control" data-bind="value: areaOfOccupancyDescription"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 h4">
            <div class="row">
                <div class="col-md-4">Habitat</div>
                <div class="col-md-8 text-right">
                    <reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Habitat', categoryId: 18"></reference-widget>
                </div>
            </div>
            <hr />
        </div>
    </div>

    <div class="form-group">
        <label for="habitatDescription" class="col-md-2 control-label">Habitat Description</label>
        <div class="col-md-10">
            <textarea rows="4" name="habitatDescription" class="form-control" data-bind="value: habitatDescription"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="distributionEnvironmentalSpecificity" class="col-md-2 control-label">Environmental Specificity</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="distributionEnvironmentalSpecificity" data-bind="value: environmentalSpecificityScore">
        </div>
    </div>

    <div class="form-group">
        <label for="habitadistributionEnvironmentalSpecificityDescription" class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
            <textarea rows="4" name="habitadistributionEnvironmentalSpecificityDescription" class="form-control" data-bind="value: environmentalSpecificityDescription"></textarea>
        </div>
    </div>

	<div class="row">
		<div class="col-md-12 h4">
			<div class="row">
				<div class="col-md-4">Ecozone</div>
				<div class="col-md-8 text-right">
					<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Ecozone', categoryId: 11"></reference-widget>
				</div>
			</div>
			<hr />
		</div>
	</div>

	<div class="form-group">
		<label for="ecozone" class="col-md-2 control-label">Ecozone</label>
		<div class="col-md-6">
			<select id="ecozone"
					name="ecozone"
					multiple="true"
					class="form-control"
					data-bind="options: $root.ecozones, selectedOptions: $root.selectedEcozoneKeys, optionsText: 'name', optionsValue: 'key', select2: { }"></select>
			@*<input type="text" class="form-control" id="ecozone" value="Not Yet Implemented">*@
		</div>
	</div>

	<div class="form-group">
		<label for="ecozoneDescription" class="col-md-2 control-label">Description</label>
		<div class="col-md-10">
			<textarea rows="4" name="ecozoneDescription" class="form-control" data-bind="value: ecozoneDescription"></textarea>
		</div>
	</div>
					
	<div class="row">
		<div class="col-md-12 h4">
			<div class="row">
				<div class="col-md-4">Ecoregion</div>
				<div class="col-md-8 text-right">
					<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Ecoregion', categoryId: 12"></reference-widget>
				</div>
			</div>
			<hr />
		</div>
	</div>

	<div class="form-group">
		<label for="ecoregion" class="col-md-2 control-label">Ecoregion</label>
		<div class="col-md-6">
			<select id="ecoregion"
					name="ecoregion"
					multiple="true"
					class="form-control"
					data-bind="options: $root.ecoregions, selectedOptions: $root.selectedEcoregionKeys, optionsText: 'name', optionsValue: 'key', select2: { }"></select>
		</div>
	</div>

	<div class="form-group">
		<label for="ecoregionDescription" class="col-md-2 control-label">Description</label>
		<div class="col-md-10">
			<textarea rows="4" name="ecoregionDescription" class="form-control" data-bind="value: ecoregionDescription"></textarea>
		</div>
	</div>
					
	<div class="row">
		<div class="col-md-12 h4">
			<div class="row">
				<div class="col-md-4">Protected Area</div>
				<div class="col-md-8 text-right">
					<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Protected Area', categoryId: 13"></reference-widget>
				</div>
			</div>
			<hr />
		</div>
	</div>

	<div class="form-group">
		<label for="protectedArea" class="col-md-2 control-label">Protected Area</label>
		<div class="col-md-6">
			<select id="protectedArea"
					name="protectedArea"
					multiple="true"
					class="form-control"
					data-bind="options: $root.protectedAreas, selectedOptions: $root.selectedProtectedAreaKeys, optionsText: 'name', optionsValue: 'key', select2: { }"></select>
		</div>
	</div>

	<div class="form-group">
		<label for="protectedAreaDescription" class="col-md-2 control-label">Description</label>
		<div class="col-md-10">
			<textarea rows="4" name="protectedAreaDescription" class="form-control" data-bind="value: protectedAreaDescription"></textarea>
		</div>
	</div>
					
	<div class="row">
		<div class="col-md-12 h4">
			<div class="row">
				<div class="col-md-4">Historical Distribution</div>
				<div class="col-md-8 text-right">
					<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Historical Distribution', categoryId: 15"></reference-widget>
				</div>
			</div>
			<hr />
		</div>
	</div>

	<div class="form-group">
		<label for="historicalDistributionDescription" class="col-md-2 control-label">Description</label>
		<div class="col-md-10">
			<textarea rows="4" name="historicalDistributionDescription" class="form-control" data-bind="value: historicalDistributionDescription"></textarea>
		</div>
	</div>
					
	<div class="row">
		<div class="col-md-12 h4">
			<div class="row">
				<div class="col-md-4">Marine Distribution</div>
				<div class="col-md-8 text-right">
					<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Marine Distribution', categoryId: 16"></reference-widget>
				</div>
			</div>
			<hr />
		</div>
	</div>

	<div class="form-group">
		<label for="marineDistributionDescription" class="col-md-2 control-label">Description</label>
		<div class="col-md-10">
			<textarea rows="4" name="marineDistributionDescription" class="form-control" data-bind="value: marineDistributionDescription"></textarea>
		</div>
	</div>
					
	<div class="row">
		<div class="col-md-12 h4">
			<div class="row">
				<div class="col-md-4">Winter Distribution</div>
				<div class="col-md-8 text-right">
					<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Winter Distribution', categoryId: 17"></reference-widget>
				</div>
			</div>
			<hr />
		</div>
	</div>

	<div class="form-group">
		<label for="winterDistributionDescription" class="col-md-2 control-label">Description</label>
		<div class="col-md-10">
			<textarea rows="4" name="winterDistributionDescription" class="form-control" data-bind="value: winterDistributionDescription"></textarea>
		</div>
	</div>
</div>