<div id="distribution" class="tab-pane fade py-3">
    <div class="card border-1 shadow-0 mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Distribution in NWT'
                              :category_id="14"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Range Extent</label>
                <div class="col-md-3">
                    <base-input v-model="form.rangeExtentScore" id="rangeExtentScore"></base-input>
                </div>

                <label for="name" class="col-md-1 form-label text-end">Percentage</label>
                <div class="col-md-3">
                    <base-input v-model="form.distributionPercentage" id="distributionPercentage"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.decisionProcessDescription" id="rangeExtentDescription"></base-input>
                </div>
            </div>


            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Area of Occupancy</label>
                <div class="col-md-3">
                    <base-input v-model="form.areaOfOccupancyScore" id="areaOfOccupancyScore"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.areaOfOccupancyDescription" id="areaOfOccupancyDescription"></base-input>
                </div>
            </div>
        </div>
    </div>


    <div class="card border-1 shadow-0 mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Habitat'
                              :category_id="18"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.habitatDescription" id="habitatDescription"></base-input>
                </div>
            </div>


            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Environmental Specificity</label>
                <div class="col-md-3">
                    <base-input v-model="form.environmentalSpecificityScore" id="environmentalSpecificityScore"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.environmentalSpecificityDescription" id="environmentalSpecificityDescription"></base-input>
                </div>
            </div>
        </div>
    </div>


    <div class="card border-1 shadow-0 mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Ecozone'
                              :category_id="11"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Ecozone</label>
                <div class="col-md-11">
                    <el-select multiple v-model="form.ecozones" class="w-100" filterable value-key="key">
                        <el-option v-for="item in ecozones"
                                   :key="item.key"
                                   :label="item.name"
                                   :value="item">
                        </el-option>
                    </el-select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.ecozoneDescription" id="ecozoneDescription"></base-input>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-1 shadow-0 mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Ecoregion'
                              :category_id="12"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Ecoregion</label>
                <div class="col-md-11">
                    <el-select multiple v-model="form.ecoregions" class="w-100" filterable value-key="key">
                        <el-option v-for="item in ecoregions"
                                   :key="item.key"
                                   :label="item.name"
                                   :value="item">
                        </el-option>
                    </el-select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.ecoregionDescription" id="ecoregionDescription"></base-input>
                </div>
            </div>
        </div>
    </div>


    <div class="card border-1 shadow-0 mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Protected Area'
                              :category_id="13"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Protected Area</label>
                <div class="col-md-11">
                    <el-select multiple v-model="form.protectedAreas" class="w-100" filterable value-key="key">
                        <el-option v-for="item in protectedAreas"
                                   :key="item.key"
                                   :label="item.name"
                                   :value="item">
                        </el-option>
                    </el-select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.protectedAreaDescription" id="protectedAreaDescription"></base-input>
                </div>
            </div>
        </div>
    </div>


    <div class="card border-1 shadow-0 mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Historical Distribution'
                              :category_id="15"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.historicalDistributionDescription" id="historicalDistributionDescription"></base-input>
                </div>
            </div>
        </div>
    </div>


    <div class="card border-1 shadow-0 mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Marine Distribution'
                              :category_id="16"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.marineDistributionDescription" id="marineDistributionDescription"></base-input>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-1 shadow-0 mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Winter Distribution'
                              :category_id="17"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.winterDistributionDescription" id="winterDistributionDescription"></base-input>
                </div>
            </div>
        </div>
    </div>
</div>