<div class="tab-pane form-horizontal active" id="general">
	<div class="row">
		<div class="col-md-12 h4">
			<div class="row">
				<div class="col-md-4">Naming</div>
				<div class="col-md-8 text-right">
					<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Naming', categoryId: 1"></reference-widget>
				</div>
			</div>
			<hr />
		</div>
	</div>

	<div class="form-group">
		<label for="name" class="col-md-1 control-label">Species</label>
		<div class="col-md-5">
			<input type="text" class="form-control" id="name" data-bind="value: name">
            <species-synonym-editor params="speciesId: key, normalName: name, speciesSynonymTypeId: 1, synonymsArray: $root.speciesSynonyms"></species-synonym-editor>
		</div>

		<label for="subSpecies" class="col-md-1 control-label">Sub Species</label>
		<div class="col-md-5">
			<input type="text" class="form-control" id="subSpecies" data-bind="value: subSpeciesName">
            <species-synonym-editor params="speciesId: key, normalName: subSpeciesName, speciesSynonymTypeId: 2, synonymsArray: $root.subSpeciesSynonyms"></species-synonym-editor>
		</div>
	</div>

	<div class="form-group">
		<label for="commonName" class="col-md-1 control-label">Common Name</label>
		<div class="col-md-5">
			<input type="text" class="form-control" id="commonName" data-bind="value: commonName">
            <species-synonym-editor params="speciesId: key, normalName: commonName, speciesSynonymTypeId: 3, synonymsArray: $root.commonNameSynonyms"></species-synonym-editor>
		</div>
	</div>

	<div class="form-group">
		<label for="ecoType" class="col-md-1 control-label">Eco Type</label>
		<div class="col-md-2">
			<input type="text" class="form-control" id="ecoType" data-bind="value: ecoType">
            <species-synonym-editor params="speciesId: key, normalName: ecoType, speciesSynonymTypeId: 4, synonymsArray: $root.ecoTypeSynonyms"></species-synonym-editor>
		</div>

		<label for="nsGlobalId" class="col-md-1 control-label">NS Global ID</label>
		<div class="col-md-2">
			<input type="text" class="form-control" id="nsGlobalId" data-bind="value: nsGlobalId">
		</div>

		<label for="nsNWtId" class="col-md-1 control-label">NS NWT ID</label>
		<div class="col-md-2">
			<input type="text" class="form-control" id="nsNWtId" data-bind="value: nsNwtId">
		</div>
                        
                        
		<label for="elcode" class="col-md-1 control-label">ELCODE</label>
		<div class="col-md-2">
			<input type="text" class="form-control" id="elcode" data-bind="value: elcode">
		</div>
                        
	</div>

	<div class="form-group">
        <label for="populations" class="col-md-1 control-label">Populations</label>
        <div class="col-md-5">
            <input class="form-control" id="populations" type="hidden" data-bind="select2Tags: {tags: [], val: populations, placeholder: 'Enter Populations'}" />
        </div>
	</div>
					
	<div class="row">
		<div class="col-md-12 h4">
			<div class="row">
				<div class="col-md-4">Taxonomy</div>
				<div class="col-md-8 text-right">
					<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Taxonomy', categoryId: 2"></reference-widget>
				</div>
			</div>
			<hr />
		</div>
	</div>

	<div class="form-group">
		<label for="kingdom" class="col-md-1 control-label">Kingdom</label>
		<div class="col-md-5" data-bind="with: kingdom">
			<select class="form-control" id="kingdom" name="kingdom" data-bind="options: $root.kingdom, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
		</div>
	</div>
	<div class="form-group">
		<label for="commonName" class="col-md-1 control-label">Phylum</label>
		<div class="col-md-5" data-bind="with: phylum">
			<select class="form-control" id="phylum" data-bind="options: $root.phylum, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
		</div>
                            

		<label for="commonName" class="col-md-1 control-label">Sub Phylum</label>
		<div class="col-md-5" data-bind="with: subPhylum">
			<select class="form-control" id="subPhylum" data-bind="options: $root.subPhylum, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
		</div>
	</div>

	<div class="form-group">
		<label for="class" class="col-md-1 control-label">Class</label>
        <div class="col-md-5" data-bind="with: $root.className">
            <select class="form-control" id="class" data-bind="options: $root.class, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
        </div>

		<label for="subClass" class="col-md-1 control-label">Sub Class</label>
		<div class="col-md-5" data-bind="with: subClass">
			<select class="form-control" id="subClass" data-bind="options: $root.subClass, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
		</div>
	</div>

	<div class="form-group">
		<label for="order" class="col-md-1 control-label">Order</label>
		<div class="col-md-5" data-bind="with: order">
			<select class="form-control" id="order" data-bind="options: $root.order, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
		</div>

		<label for="subOrder" class="col-md-1 control-label">Sub Order</label>
		<div class="col-md-5" data-bind="with: subOrder">
			<select class="form-control" id="subOrder" data-bind="options: $root.subOrder, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
		</div>
	</div>

	<div class="form-group">
		<label for="infraOrder" class="col-md-1 control-label">Infra Order</label>
		<div class="col-md-5" data-bind="with: infraOrder">
			<select class="form-control" id="infraOrder" data-bind="options: $root.infraOrder, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
		</div>
	</div>

	<div class="form-group">
		<label for="superFamily" class="col-md-1 control-label">Super Family</label>
		<div class="col-md-5" data-bind="with: superFamily">
			<select class="form-control" id="superFamily" data-bind="options: $root.superFamily, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
		</div>
	</div>

	<div class="form-group">
		<label for="family" class="col-md-1 control-label">Family</label>
		<div class="col-md-5" data-bind="with: family">
			<select class="form-control" id="family" data-bind="options: $root.family, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
		</div>

		<label for="subFamily" class="col-md-1 control-label">Sub Family</label>
		<div class="col-md-5" data-bind="with: subFamily">
			<select class="form-control" id="subFamily" data-bind="options: $root.subFamily, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
		</div>
	</div>

	<div class="form-group">
		<label for="group" class="col-md-1 control-label">Group</label>
		<div class="col-md-5" data-bind="with: group">
			<select class="form-control" id="group" data-bind="options: $root.group, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
            <taxonomy-synonym-editor params="taxonomyId: key"></taxonomy-synonym-editor>    
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 h4">
			<div class="row">
				<div class="col-md-4">Known Sub-Species (CAN)</div>
				<div class="col-md-8 text-right">
					<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Known Sub-Species (CAN)', categoryId: 3"></reference-widget>
				</div>
			</div>
			<hr />
		</div>
	</div>

	<div class="form-group">
		<label for="group" class="col-md-3 control-label">Number of Known Sub-Species CND</label>
		<div class="col-md-2">
			<input type="text" class="form-control" id="group" data-bind="value: canadaKnownSubSpeciesCount">
		</div>

		<div class="offset6 col-md-2 checkbox">
			<label for="group">
				<input type="checkbox" id="group" data-bind="checked: nonNtSpecies">
				Non-NT Species
			</label>
		</div>
	</div>

	<div class="form-group">
		<label for="family" class="col-md-1 control-label">Description</label>
		<div class="col-md-11">
			<textarea rows="4" name="knownSubSpeciesCanDescription" class="form-control" data-bind="value: canadaKnownSubSpeciesDescription"></textarea>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 h4">
			<div class="row">
				<div class="col-md-4">Known Sub Species (NWT)</div>
				<div class="col-md-8 text-right">
					<reference-widget params="references: references, showDialogFunction: $root.showReferencesDialog, categoryName: 'Known Sub Species (NWT)', categoryId: 4"></reference-widget>
				</div>
			</div>
			<hr />
		</div>
	</div>

	<div class="form-group">
		<label for="group" class="col-md-3 control-label">Number of Known Sub-Species NWT</label>
		<div class="col-md-2">
			<input type="text" class="form-control" id="group" data-bind="value: nwtKnownSubSpeciesCount">
		</div>
	</div>

	<div class="form-group">
		<label for="family" class="col-md-1 control-label">Description</label>
		<div class="col-md-11">
			<textarea rows="4" name="knownSubSpeciesCanDescription" class="form-control" data-bind="value: nwtKnownSubSpeciesDescription"></textarea>
		</div>
	</div>
</div>