@using Wmis.Extensions
@{
    ViewBag.Title = "Biodiversity";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/biodiversity/index"))
}

<div class="row my-3">
    <div class="col-md-12 d-flex justify-content-between">
        <div>
            <button type="button" v-on:click="deletedSelectedRecord()" class="btn btn-sm btn-danger" v-bind:class="{'disabled' : !isSelected}">Delete Selected</button>
        </div>


        <div>
            <button type="button" class="btn btn-primary btn-sm me-2">Download</button>
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <a href="/BioDiversity/New" class="btn btn-success btn-sm me-2">New</a>
                <a href="/BioDiversity/Upload" class="btn btn-primary btn-sm me-2">Bulk Upload</a>
            }
            <a v-bind:href=`/BioDiversity/Edit/${selectedKey}` id="editButton" class="btn btn-primary btn-sm me-2" v-bind:class="{'disabled' : !isSelected}">
                @if (Html.UserIsBiodiversityAdministrator())
                {
                    <span>View</span>
                }
                else
                {
                    <span>View</span>
                }
            </a>
            <a v-bind:href=`/BioDiversity/Decision/${selectedKey}` v-bind:class="{'disabled' : !isSelected}" id="decisionButton" class="btn btn-primary btn-sm">Decision</a>
        </div>
    </div>
</div>

<div class="alert alert-danger alert-dismissible fade show" v-show="deleteError" role="alert" >
    <p>{{deleteError}}</p>
    <button type="button" class="btn-close" v-on:click="deleteError=null" aria-label="Close"></button>
</div>


<div class="card bg-light">
    <div class="card-body">
        <div class="row g-3">
            <div class="col">
                <label class="form-label visually-hidden">Group</label>
                <select class="form-select" aria-label="Group">
                    <option value="">Group</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label visually-hidden">Order</label>
                <select class="form-select" aria-label="Order">
                    <option value="">Order</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label visually-hidden">Family</label>
                <select class="form-select" aria-label="Family">
                    <option value="">Family</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label visually-hidden">Keywords</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="">
                    <button class="btn btn-info" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table id="biodiversity" class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Group</th>
                    <th>Kingdom</th>
                    <th>Phylum</th>
                    <!--  <th>SubPhylum</th> -->
                    <th>Class</th>
                    <th>Order</th>
                    <th>Family</th>
                    <th>Common Name</th>
                    <th>Species</th>
                    <!--<th>Sub Species</th>-->
                    <th>Rank</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

