<div class="tab-pane fade py-3" id="reproduction">
    <div class="card mb-3">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Age of Maturity (Female)'
                              :category_id="5"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Age of Maturity</label>
                <div class="col-md-1">
                    <base-input v-model="form.ageOfMaturity" id="ageOfMaturity"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.ageOfMaturityDescription" id="ageOfMaturityDescription"></base-input>
                </div>
            </div>
        </div>
    </div>



    <div class="card mb-3">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Reproduction'
                              :category_id="6"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Frequency Per Year</label>
                <div class="col-md-1">
                    <base-input v-model="form.reproductionFrequencyPerYear" id="reproductionFrequencyPerYear"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.reproductionFrequencyPerYearDescription" id="reproductionFrequencyPerYearDescription"></base-input>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Longevity'
                              :category_id="7"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Longevity</label>
                <div class="col-md-1">
                    <base-input v-model="form.longevity" id="longevity"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.longevityDescription" id="longevityDescription"></base-input>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Vegetation Reproduction'
                              :category_id="8"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.vegetationReproductionDescription" id="vegetationReproductionDescription"></base-input>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Host Fish (Mussels)'
                              :category_id="9"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.hostFishDescription" id="hostFishDescription"></base-input>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Other Reproduction'
                              :category_id="10"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.otherReproductionDescription" id="otherReproductionDescription"></base-input>
                </div>
            </div>
        </div>
    </div>

</div>
