<div class="tab-pane fade py-3" id="status">
    <div class="card mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Rank'
                              :category_id="25"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Rank</label>
                <div class="col-md-3">
                    <el-select v-model="form.statusRank.key" class="w-100" filterable>
                        <el-option v-for="item in statusRanks"
                                   :key="item.key"
                                   :label="item.name"
                                   :value="item.key">
                        </el-option>
                    </el-select>
                </div>

                <label for="name" class="col-md-1 form-label text-end">N Rank</label>
                <div class="col-md-3">
                    <base-input v-model="form.nRank" id="nRank"></base-input>
                </div>

                <label for="name" class="col-md-1 form-label text-end">S Rank</label>
                <div class="col-md-3">
                    <base-input v-model="form.sRank" id="sRank"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Rank Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.statusRankDescription" id="statusRankDescription"></base-input>
                </div>
            </div>


            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Decision Process</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.decisionProcessDescription" id="decisionProcessDescription"></base-input>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='COSEWIC Status'
                              :category_id="27"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">COSEWIC Status</label>
                <div class="col-md-3">
                    <el-select v-model="form.cosewicStatus.key" class="w-100" filterable>
                        <el-option v-for="item in cosewicStatuses"
                                   :key="item.key"
                                   :label="item.name"
                                   :value="item.key">
                        </el-option>
                    </el-select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.cosewicStatusDescription" id="cosewicStatusDescription"></base-input>
                </div>
            </div>

        </div>
    </div>


    <div class="card mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Federal Species At Risk'
                              :category_id="28"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">
                    SARA Status
                </label>
                <div class="col-md-3">
                    <el-select v-model="form.saraStatus.key" class="w-100" filterable>
                        <el-option :value="0" label="Select Status" disabled></el-option>
                        <el-option v-for="item in cosewicStatuses"
                                   :key="item.key"
                                   :label="item.name"
                                   :value="item.key">
                        </el-option>
                    </el-select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.federalSpeciesAtRiskStatusDescription" id="federalSpeciesAtRiskStatusDescription"></base-input>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='NWT SARC Assessment'
                              :category_id="29"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">
                    NWT SARC Assessment
                </label>
                <div class="col-md-3">
                    <el-select v-model="form.nwtSarcAssessment.key" class="w-100" filterable>
                        <el-option :value="0" label="Select Status" disabled></el-option>
                        <el-option v-for="item in nwtSarcAssessments"
                                   :key="item.key"
                                   :label="item.name"
                                   :value="item.key">
                        </el-option>
                    </el-select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.nwtsarcAssessmentDescription" id="nwtsarcAssessmentDescription"></base-input>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='NWT Species at Risk Status'
                              :category_id="30"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">
                    NWT Status
                </label>
                <div class="col-md-3">
                    <el-select v-model="form.nwtStatusRank.key" class="w-100" filterable>
                        <el-option :value="0" label="Select Status" disabled></el-option>
                        <el-option v-for="item in cosewicStatuses"
                                   :key="item.key"
                                   :label="item.name"
                                   :value="item.key">
                        </el-option>
                    </el-select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.nwtSpeciesAtRiskStatusDescription" id="nwtSpeciesAtRiskStatusDescription"></base-input>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='IUCN Status'
                              :category_id="32"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">
                    IUCN Status
                </label>
                <div class="col-md-3">
                    <base-input v-model="form.iucnStatus" label="IUCN Status"></base-input>
                </div>

                <label for="name" class="col-md-1 form-label text-end">
                    G Rank
                </label>
                <div class="col-md-3">
                    <base-input v-model="form.gRank" label="G Rank"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.iucnDescription" id="iucnDescription"></base-input>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Economic Status'
                              :category_id="26"></reference-widget>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.economicStatusDescription" id="economicStatusDescription"></base-input>
                </div>
            </div>
        </div>
    </div>
    
</div>