<div class="tab-pane fade py-3" id="threats">
    <div class="card border-1 shadow-0 mb-3" v-if="form.key">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Threats'
                              :category_id="22"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-3 col-lg-2 col-form-label text-md-end text-lg-end">Threats</label>
                <div class="col-md-2 col-lg-2">
                    <base-input v-model="form.threatsScore" id="threatsScore"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-lg-2 col-form-label text-lg-end">Description</label>
                <div class="col-lg-10">
                    <base-input type="textarea" v-model="form.threatsDescription" id="threatsDescription"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="name" class="col-md-3 col-lg-2 col-form-label text-md-end text-lg-end">Intrinsic Vulnerability</label>
                <div class="col-md-2 col-lg-2">
                    <base-input v-model="form.intrinsicVulnerabilityScore" id="intrinsicVulnerabilityScore"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-lg-2 col-form-label text-lg-end">Description</label>
                <div class="col-lg-10">
                    <base-input type="textarea" v-model="form.intrinsicVulnerabilityDescription" id="intrinsicVulnerabilityDescription"></base-input>
                </div>
            </div>
        </div>
    </div>
</div>