<div class="tab-pane fade py-3" id="trends">
    <div class="card border-0 mb-3">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Short-Term Trends'
                              :category_id="23"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Short-Term Trend</label>
                <div class="col-md-1">
                    <base-input v-model="form.shortTermTrendsScore" id="shortTermTrendsScore"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.shortTermTrendsDescription" id="shortTermTrendsDescription"></base-input>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-0 mb-3">
        <div class="card-header py-1">
            <reference-widget :references="form.references"
                              :update_function="updateReference"
                              category_name='Long-Term Trends'
                              :category_id="24"></reference-widget>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label for="name" class="col-md-1 form-label text-end">Long-Term Trend</label>
                <div class="col-md-1">
                    <base-input v-model="form.longTermTrendsScore" id="longTermTrendsScore"></base-input>
                </div>
            </div>

            <div class="row mb-3">
                <label for="group" class="col-md-1 text-end">Description</label>
                <div class="col-md-11">
                    <base-input type="textarea" v-model="form.longTermTrendsDescription" id="longTermTrendsDescription"></base-input>
                </div>
            </div>
        </div>
    </div>
</div>