@using Wmis.Extensions
@{
    ViewBag.Title = "NWT SARC Assessments";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/nwtsarcassessment/index"))
}

<div class="row my-3">
    <div class="col-md-12 d-flex justify-content-end">
        <div>
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <base-link-button href="/NwtSarcAssessment/New" color="success">
                    <span class="el-icon-plus"></span>
                    New
                </base-link-button>
            }
            <base-link-button v-bind:href=`/NwtSarcAssessment/Edit/${selectedKey}` id="editButton" color="info" :disabled="!isSelected">
                <span class="el-icon-view"></span>  View
            </base-link-button>
        </div>

    </div>
</div>

<div class="card border-0">
    <div class="card-body">
        <div class="row g-3">
            <div class="col">
                <label class="form-label visually-hidden">Keywords</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Keywords" id="keyword" v-model="form.keywords">
                    <base-button id="searchbtn"><span class="el-icon-search"></span> Search</base-button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card my-0">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">

                <table id="nwtsarcassessment" class="table table-sm w-100">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

