@{
    ViewBag.Title = "Reports";
}


<div class="row">
    <a href="https://bi.enr.gov.nt.ca" id="reportManager" style="margin-bottom: 10px;">Reports Manager</a>
    <p>

    </p>
    <a href="https://bi-test.enr.gov.nt.ca" id="reportDevManager" style="margin-bottom: 10px;">Development Manager</a>
</div>
