
@{
    ViewBag.Title = "Rabies Test Submission";
}

<div class="well" style="margin-bottom: 0;">
    <div class="row">
        <div class="col-md-16">
            <form class="form-horizontal center" role="form">
                <div class="col-md-3">
                    <div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
                        <label class="sr-only" for="group">Group</label>
                        <select class="form-control" id="group" name="group">
                            <option value="">Group</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
                        <label class="sr-only" for="order">Order</label>
                        <select class="form-control" id="order" name="order">
                            <option value="">Order</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
                        <label class="sr-only" for="family">Family</label>
                        <select class="form-control" id="family" name="family">
                            <option value="">Family</option>
                        </select>
                    </div>
                </div>

                <label class="sr-only" for="keywords">Keywords</label>
                <div class="col-md-3">
                    <div class="form-group" style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 0;">
                        <div class="input-group">
                            <input type="text" id="keywords" class="form-control" placeholder="Keywords" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="searchButton">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>