@using Wmis.Extensions
<div class="row mt-3">
    <div class="col-7 text-end">
        <a href="/Reference/Index" class="el-button el-button--danger is-plain">Cancel</a>
        @if (Html.UserIsBiodiversityAdministrator())
        {
            <base-button v-on:click.prevent="submit()" color="success" :disabled="disabled" size="large">Save</base-button>
        }
    </div>
</div>

<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">Code</label>
    </div>
    <div class="col-5">
        <base-input v-model.trim="form.code" id="code"></base-input>
    </div>
</div>

<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">Author</label>
    </div>
    <div class="col-5">
        <textarea class="form-control" id="author" name="author" v-model.trim="form.author"></textarea>
    </div>
</div>

<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">Year</label>
    </div>
    <div class="col-5">
        <base-input v-model.trim="form.year" id="year"></base-input>
    </div>
</div>

<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">Title</label>
    </div>
    <div class="col-5">
        <base-input v-model.trim="form.title" id="title"></base-input>
    </div>
</div>


<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">Edition Publication Organization</label>
    </div>
    <div class="col-5">
        <textarea class="form-control" id="editionPublicationOrganization" name="editionPublicationOrganization" v-model.trim="form.editionPublicationOrganization"></textarea>
    </div>
</div>

<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">Volume Page</label>
    </div>
    <div class="col-5">
        <base-input v-model.trim="form.volumePage" id="volumePage"></base-input>
    </div>
</div>


<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">Publisher</label>
    </div>
    <div class="col-5">
        <base-input v-model.trim="form.publisher" id="publisher"></base-input>
    </div>
</div>


<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">City</label>
    </div>
    <div class="col-5">
        <base-input v-model.trim="form.city" id="city"></base-input>
    </div>
</div>

<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">Location</label>
    </div>
    <div class="col-5">
        <base-input v-model.trim="form.location" id="location"></base-input>
    </div>
</div>


<div class="row">
    <div class="col-7 text-end">
        <a href="/Reference/Index" class="el-button el-button--danger is-plain">Cancel</a>
        @if (Html.UserIsBiodiversityAdministrator())
        {
            <base-button v-on:click.prevent="submit()" color="success" :disabled="disabled" size="large">Save</base-button>
        }
    </div>
</div>
