@using Wmis.Extensions
<div class="col-md-12 " id="historyTabTemplate">
    @if (@ViewBag.Title != "Project" && @ViewBag.Title != "Survey")
    {
        <div class="row">
            <label for="historyFilter" class="col-md-1 text-end">Filter</label>
            <div class="col-md-2">
                <el-select size="small" clearable v-model="filterValue">
                    <el-option v-for="(v,k) in filterOptions" :key="`filter-${i}`" :value="v" :label="v"></el-option>
                </el-select>
            </div>
        </div>
    }
    <table id="historyTable" class="table w-100 table-sm">
        <thead>
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Value</th>
                <th>User</th>
                <th>Comment</th>
                <th>Edit Comment</th>
            </tr>
        </thead>
    </table>


    <div class="modal fade" id="historyEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modify Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card border-0">
                        <div class="row g-3">
                            <div class="col-12">
                                <lable>Item</lable>
                                <base-input v-model="form.item" :disabled="true" label="Item"></base-input>
                            </div>
                            <div class="col-12">
                                <lable>Value</lable>
                                <base-input v-model="form.value" :disabled="true" label="Value"></base-input>
                            </div>
                            <div class="col-12">
                                <lable>Change Date</lable>
                                <base-input v-model="form.changeDate" :disabled="true" label="Change Date"></base-input>
                            </div>
                            <div class="col-12">
                                <lable>Comment</lable>
                                <base-input type="textarea" v-model="form.comment" label="Comment"></base-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" v-on:click="handleSave()">
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

