<script id="passTableFilterTemplate" type="text/html">
    <div class="form-group">
        <div class="col-md-4">
            @*<button type="submit" class="btn btn-default" data-bind="click: fetchFromArgos">Pull Argos Feed</button>*@
            <button type="submit" class="btn btn-default" data-bind="click: downloadShapeFile">Download Shapefile</button>
            <div style="padding-bottom: 5px; padding-top: 10px; margin-bottom: 0;">
                <button type="submit" class="btn btn-default" data-bind="click: downloadKmlFile">Download KML File</button>
            </div>
            <div style="padding-bottom: 5px; padding-top: 10px; margin-bottom: 0;">
                <button type="button" class="btn btn-default" data-bind="click: downloadExcelFile">Download Excel File</button>
            </div>
        </div>
        <label for="gpsOnlyFilter" class="col-md-1 control-label">GPS Only Filter</label>
        <div class="col-md-1" style="padding-bottom: 5px; padding-top: 10px; margin-bottom: 0;">
            <input type="checkbox" autocomplete="off" id="gpsOnlyFilter" data-bind="checked: showGpsOnly">
        </div>
        <label for="daysFilter" class="col-md-1 control-label">Days Filter</label>
        <div class="col-md-2">
            <select class="form-control" id="daysFilter" name="daysFilter" data-bind="options: daysFilterOptions, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: daysFilterKey, select2: { }"></select>
        </div>
        <label for="statusFilter" class="col-md-1 control-label">Status Filter</label>
        <div class="col-md-2">
            <select class="form-control" id="statusFilter" name="statusFilter" data-bind="options: statusFilterOptions, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: statusFilterKey, select2: { }"></select>
        </div>
</div>
</script>