@using Wmis.Extensions
<div class="row mb-4">
    <div class="col-12 text-end">
        <a :href="`/Project/Edit/${ project ? project.key : ''}`" class="btn btn-default">
            @if (Html.UserIsProjectAdministrator())
            {
                <span>Cancel</span>
            }
            else
            {
                <span>Back</span>
            }
        </a>

        @if (Html.UserIsProjectAdministrator())
        {
            <base-button :busy="loading" v-on:click.prevent="submit()" :disabled="disabled">Save</base-button>
            @*<button type="button" v-on:click.prevent="submit()" class="btn btn-primary" v-bind:class="{'disabled': disabled}">Save</button>*@
        }
    </div>
</div>

<div class="row mb-3">
    @*<label for="status" class="col-md-1 form-label text-end">Target Species</label>*@
    <div class="col-md-12">
        @*<base-q-species-search v-model="form.targetSpecies" label="Target Species"></base-q-species-search>*@
        <label class="text-weight-bold text-primary">Target Species</label>
        <element-species-select :initial="form.targetSpecies" v-model="form.targetSpecies"></element-species-select>
    </div>

    <!--<div class="col-md-3">-->
        @*<el-date-picker v-model="form.startDate"
                            type="date"
                            value-format="YYYY-MM-DD"
                            placeholder="Pick Date" class="w-100">
            </el-date-picker>*@
    <!--</div>-->
</div>


<div class="row mb-3">
    @*<label for="status" class="col-md-1 form-label text-end">Survey Type</label>*@
    <div class="col-md-3">
        <base-input label="Start Date" type="date" v-model="form.startDate" id="startDate"></base-input>
    </div>
    <div class="col-md-3">
        <base-q-select label="Survey Type" :options="surveyTypes" v-model="form.surveyType"></base-q-select>
        @*<el-select value-key="key" label-key="name" v-model="form.surveyType" filterable style="width:100%;">
            <el-option v-for="item in surveyTypes"
                       :key="item.key"
                       :label="item.name"
                       :value="item">
            </el-option>
        </el-select>*@
    </div>

    @*<label for="status" class="col-md-1 form-label text-end">Template</label>*@
    <div class="col-md-6">
        <base-q-select label="Template" :disabled="hasObservations" :options="surveyTemplates" v-model="form.template"></base-q-select>
        @*<el-select value-key="key" label-key="name" v-model="form.template" filterable style="width:100%;">
            <el-option v-for="item in surveyTemplates"
                       :key="item.key"
                       :label="item.name"
                       :value="item">
            </el-option>
        </el-select>*@
    </div>

</div>


<div class="row mb-3">
    @*<label class="col-md-1 form-label text-end">Description</label>*@
    <div class="col-md-12">
        <base-input label="Description" type="textarea" v-model="form.description" id="description"></base-input>
        @*<textarea rows="4" name="description" class="form-control" v-model="form.description"></textarea>*@
    </div>
</div>

<div class="row mb-3">
    @*<label class="col-md-1 form-label text-end">Method</label>*@
    <div class="col-md-12">
        <base-input label="Method" type="textarea" v-model="form.method" id="method"></base-input>
        @*<textarea rows="4" name="description" class="form-control" v-model="form.method"></textarea>*@
    </div>
</div>

<div class="row mb-3">
    @*<label class="col-md-1 form-label text-end">Results</label>*@
    <div class="col-md-12">
        <base-input label="Results" type="textarea" v-model="form.results" id="results"></base-input>
        @*<textarea rows="4" name="description" class="form-control" v-model="form.results"></textarea>*@
    </div>
</div>


<div class="row mt-4 mb-2">
    <div class="col-md-12 h5">
        <div class="bg-light p-2">Aircraft/Crew</div>
    </div>
</div>


<div class="row mb-3">
    @*<label for="name" class="col-md-1 form-label text-end">Aircraft Type</label>*@
    <div class="col-md-4">
        <base-input label="Aircraft Type" v-model="form.aircraftType" id="aircraftType"></base-input>
    </div>
    @*<label for="name" class="col-md-1 form-label text-end">Aircraft Callsign</label>*@
    <div class="col-md-4">
        <base-input label="Aircract Callsign" v-model="form.aircraftCallsign" id="aircraftCallsign"></base-input>
    </div>
    @*<label for="name" class="col-md-1 form-label text-end">Pilot</label>*@
    <div class="col-md-4">
        <base-input label="Pilot" v-model="form.pilot" id="pilot"></base-input>
    </div>
</div>


<div class="row mb-3">
    @*<label for="name" class="col-md-1 form-label text-end">Lead Surveyor</label>*@
    <div class="col-md-4">
        <base-input label="Lead Surveyor" v-model="form.leadSurveyor" id="leadSurveyor"></base-input>
    </div>

    @*<label for="name" class="col-md-1 form-label text-end">Survey Crew</label>*@
    <div class="col-md-4">
        <base-input label="Survey Crew" v-model="form.surveyCrew" id="surveyCrew"></base-input>
    </div>

    @*<label for="name" class="col-md-1 form-label text-end">Observer Expertise</label>*@
    <div class="col-md-4">
        <base-input label="Observer Expertise" v-model="form.observerExpertise" id="observerExpertise"></base-input>
    </div>
</div>


<div class="row mb-3">
    @*<label class="col-md-1 form-label text-end">Comments</label>*@
    <div class="col-md-12">
        <base-input label="Comments" type="textarea" v-model="form.aircraftCrewResults" id="aircraftCrewResults"></base-input>
        @*<textarea rows="4" name="aircraftCrewResults" class="form-control" v-model="form.aircraftCrewResults"></textarea>*@
    </div>
</div>


<div class="row mt-4 mb-2">
    <div class="col-md-12 h5">
        <div class="bg-light p-2">Weather</div>
    </div>
</div>

<div class="row mb-3">
    @*<label for="name" class="col-md-1 form-label text-end">Cloud Cover</label>*@
    <div class="col-md-4">
        <base-input label="Cloud Cover" v-model="form.cloudCover" id="cloudCover"></base-input>
    </div>

    @*<label for="name" class="col-md-1 form-label text-end">Light Conditions</label>*@
    <div class="col-md-4">
        <base-input label="Light Conditions" v-model="form.lightConditions" id="lightConditions"></base-input>
    </div>

    @*<label for="name" class="col-md-1 form-label text-end">Snow Cover</label>*@
    <div class="col-md-4">
        <base-input label="Snow Cover" v-model="form.snowCover" id="snowCover"></base-input>
    </div>
</div>


<div class="row mb-3">
    @*<label for="name" class="col-md-1 form-label text-end">Temperature</label>*@
    <div class="col-md-3">
        <base-input label="Temperature" v-model="form.temperature" id="temperature"></base-input>
    </div>

    @*<label for="name" class="col-md-1 form-label text-end">Precipitation</label>*@
    <div class="col-md-3">
        <base-input label="Precipitation" v-model="form.precipitation" id="precipitation"></base-input>
    </div>

    @*<label for="name" class="col-md-1 form-label text-end">Wind Speed</label>*@
    <div class="col-md-3">
        <base-input label="Wind Speed" v-model="form.windSpeed" id="windSpeed"></base-input>
    </div>

    <div class="col-md-3">
        <base-input label="Wind Direction" v-model="form.windDirection" id="windDirection"></base-input>
    </div>
</div>


@*<div class="row mb-3">
        <label for="name" class="col-md-1 form-label text-end">Wind Direction</label>
        <div class="col-md-3">
            <base-input label="Wind Direction" v-model="form.windDirection" id="windDirection"></base-input>
        </div>
    </div>*@


<div class="row mb-3">
    @*<label class="col-md-1 form-label text-end">Comments</label>*@
    <div class="col-md-12">
        <base-input label="Comments" type="textarea" v-model="form.weatherComments" id="weatherComments"></base-input>
        @*<textarea rows="4" name="weatherComments" class="form-control" v-model="form.weatherComments"></textarea>*@
    </div>
</div>


<div class="row">
    <div class="col-12 text-end">
        <a :href="`/Project/Edit/${ project ? project.key : ''}`" class="btn btn-default">
            @if (Html.UserIsProjectAdministrator())
            {
                <span>Cancel</span>
            }
            else
            {
                <span>Back</span>
            }
        </a>

        @if (Html.UserIsProjectAdministrator())
        {
            <button type="button" v-on:click.prevent="submit()" class="btn btn-primary" v-bind:class="{'disabled': disabled}">Save</button>
        }
    </div>
</div>
