@using Wmis.Extensions

<div class="row">
    <div class="col-md-12 text-right">
        <a class="btn btn-default" data-bind="click: $root.navigateToProject">
            @if (Html.UserIsProjectCollarAdministrator())
            {
                <span>Cancel</span>
            }
            else
            {
                <span>Back</span>
            }
        </a>
        @if (Html.UserIsProjectCollarAdministrator())
        {
            <button type="submit" class="btn btn-primary" data-bind="click: $root.saveProject">Save</button>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#surveyTab" role="tab" data-toggle="tab">Survey</a></li>
            <li data-bind="visible: showObservationTab, click: mapTabClicked"><a href="#observationTab" role="tab" data-toggle="tab">Observation</a></li>
            <li><a href="#files" role="tab" data-toggle="tab">Links</a></li>
            <li><a href="#history" role="tab" data-toggle="tab">History</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="margin-top:10px;">
            <!-- Survey -->
            <div class="tab-pane form-horizontal active" data-bind="with: survey" id="surveyTab">
                <form role="form">
                    <div class="form-group">
                        <label for="targetSpecies" class="col-md-1 control-label">Target Species</label>
                        <div class="col-md-5" data-bind="with: targetSpecies">
                            <input type="hidden" class="form-control" id="key" name="key" data-bind="value: key, select2: $root.targetSpeciesOptions"></input>
                        </div>

                        <label for="startDate" class="col-md-1 control-label">Start Date</label>
                        <div class="col-md-3">
                            @*<input class="form-control" id="startDate" type="date" data-bind="value: startDate" />*@
                            <div class="input-group date" data-bind="datePicker: startDate">
                                <input type="text" class="form-control" readonly="readonly">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="surveyType" class="col-md-1 control-label">Survey Type</label>
                        <div class="col-md-5" data-bind="with: surveyType">
                            <!-- ko if: $root.surveyTypes().length > 0 -->
                            <select class="form-control" id="surveyType" data-bind="options: $root.surveyTypes, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }"></select>
                            <!-- /ko -->
                        </div>

                        <label for="template" class="col-md-1 control-label">Template</label>
                        <div class="col-md-5" data-bind="with: template">
                            <!-- ko if: $root.templates().length > 0 -->
                            <select class="form-control" id="template" data-bind="options: $root.templates, optionsText: 'name', optionsValue: 'key', optionsCaption: '', value: key, select2: { }, disable: $root.observationUploads().length > 0"></select>
                            <!-- /ko -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-md-1 control-label">Description</label>
                        <div class="col-md-11">
                            <textarea rows="4" name="description" class="form-control" data-bind="value: description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="method" class="col-md-1 control-label">Method</label>
                        <div class="col-md-11">
                            <textarea rows="4" name="method" class="form-control" data-bind="value: method"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="results" class="col-md-1 control-label">Results</label>
                        <div class="col-md-11">
                            <textarea rows="4" name="results" class="form-control" data-bind="value: results"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 h4">
                            <div class="row">
                                <div class="col-md-12">Aircraft/Crew</div>
                            </div>
                            <hr />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="aircraftType" class="col-md-1 control-label">Aircraft Type</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="aircraftType" data-bind="value: aircraftType">
                        </div>

                        <label for="aircraftCallsign" class="col-md-1 control-label">Aircraft Callsign</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="aircraftCallsign" data-bind="value: aircraftCallsign">
                        </div>

                        <label for="pilot" class="col-md-1 control-label">Pilot</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="pilot" data-bind="value: pilot">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="leadSurveyor" class="col-md-1 control-label">Lead Surveyor</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="leadSurveyor" data-bind="value: leadSurveyor">
                        </div>

                        <label for="surveyCrew" class="col-md-1 control-label">Survey Crew</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="surveyCrew" data-bind="value: surveyCrew">
                        </div>

                        <label for="observerExpertise" class="col-md-1 control-label">Observer Expertise</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="observerExpertise" data-bind="value: observerExpertise">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="aircraftCrewComments" class="col-md-1 control-label">Comments</label>
                        <div class="col-md-11">
                            <textarea rows="4" name="aircraftCrewComments" class="form-control" data-bind="value: aircraftCrewResults"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 h4">
                            <div class="row">
                                <div class="col-md-12">Weather</div>
                            </div>
                            <hr />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cloudCover" class="col-md-1 control-label">Cloud Cover</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="cloudCover" data-bind="value: cloudCover">
                        </div>

                        <label for="lightConditions" class="col-md-1 control-label">Light Conditions</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="lightConditions" data-bind="value: lightConditions">
                        </div>

                        <label for="snowCover" class="col-md-1 control-label">Snow Cover</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="snowCover" data-bind="value: snowCover">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="temperature" class="col-md-1 control-label">Temperature</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="temperature" data-bind="value: temperature">
                        </div>

                        <label for="precipitation" class="col-md-1 control-label">Precipitation</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="precipitation" data-bind="value: precipitation">
                        </div>

                        <label for="windSpeed" class="col-md-1 control-label">Wind Speed</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="windSpeed" data-bind="value: windSpeed">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="windDirection" class="col-md-1 control-label">Wind Direction</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="windDirection" data-bind="value: windDirection">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="weatherComments" class="col-md-1 control-label">Comments</label>
                        <div class="col-md-11">
                            <textarea rows="4" name="weatherComments" class="form-control" data-bind="value: weatherComments"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Observation -->
            <div class="tab-pane form-horizontal" id="observationTab" data-bind="visible: showObservationTab">
                <!-- ko with: $root -->
                @if (Html.UserIsProjectCollarAdministrator())
                {
                    <div class="row h4">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-primary" data-bind="visible: canUploadObservations, click: showUploadModal">Upload Observations</button>
                            <button type="button" class="btn btn-primary" data-bind="visible: observationUploads().length > 0, click: showManageUploadModal">Manage Observation Uploads</button>
                        </div>
                    </div>
                }

                <div class="row" data-bind="visible: !$root.hasObservations()">
                    <div class="col-md-12">
                        <p data-bind="visible: observationUploads().length == 0">There are currently no Observations for this Survey. Click the Upload Observations button to get started.</p>
                        <div data-bind="visible: observationUploads().length > 0">
                            <p>There are currently no finalized Observations Uploads for this Survey.</p>
                            <p>Click the Manage Observation Uploads to complete an Observation Upload or the Upload Observations button to start a new Observation Upload.</p>
                        </div>
                    </div>
                </div>

                <div class="row" data-bind="visible: $root.hasObservations()">
                    <div id="map-canvas"></div>
                    <br />
                    <div class="col-md-12" data-bind="with: $data.observations">
                        <table id="locationTable" class="table">
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Status</th>
                                    <th>Comment</th>
                                    <!-- ko foreach: $data.columns -->
                                    <th data-bind="text: name"></th>
                                    <!-- /ko -->
                                    <th>Review</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach: {data: $data.observationData, as: 'row'} -->
                                <tr data-bind="passStatusHighlight: {row: row, selectedRow: $root.selectedPass}">
                                    <td data-bind="dateText: timestamp, format:'L h:mm a'"></td>
                                    <td data-bind="text: latitude"></td>
                                    <td data-bind="text: longitude"></td>
                                    <td data-bind="passStatus: observationRowStatusId"></td>
                                    <td data-bind="text: comment"></td>
                                    <!-- ko foreach: {data: $parent.columns, as: 'c'} -->
                                    <td data-bind="text: $parent[c.jsName()]()"></td>
                                    <!-- /ko -->
                                    <td data-bind="click: $root.reviewObservation"><span class="glyphicon glyphicon-edit"></span></td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /ko-->
            </div>
            <!-- Links Tab -->
            <div id="files" class="tab-pane form-horizontal">
                <div id="fileTemplateTempDiv"></div>
            </div>
            <!-- History Tab -->
            <div id="history" class="tab-pane form-horizontal">
                <div id="historyTemplateTempDiv"></div>
            </div>
        </div>
    </div>
</div>