
<div class="row gy-lg-3 mb-3">
    <label class="col-lg-2 col-form-label text-lg-end">Name</label>
    <div class="col-lg-6">
        <base-input v-model="form.name" id="name"></base-input>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">Project Number</label>
    <div class="col-lg-2">
        <base-input v-model="form.projectNumber" id="projectNumber"></base-input>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">Lead Region</label>
    <div class="col-lg-4">
        <el-select value-key="key" label-key="name" v-model="form.leadRegion" filterable style="width:100%;">
            <el-option v-for="item in regions"
                       :key="item.key"
                       :label="item.name"
                       :value="item">
            </el-option>
        </el-select>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">Project Lead</label>
    <div class="col-lg-4">
        <el-select value-key="key" label-key="name" v-model="form.projectLead" filterable style="width:100%;">
            <el-option v-for="item in projectLeads"
                       :key="item.key"
                       :label="item.name"
                       :value="item">
            </el-option>
        </el-select>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">NWT WRP ID</label>
    <div class="col-lg-4">
        <base-input v-model="form.wildlifeResearchPermitNumber" id="wildlifeResearchPermitNumber"></base-input>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">Status</label>
    <div class="col-lg-4">
        <el-select value-key="key" label-key="name" v-model="form.status" filterable style="width:100%;">
            <el-option v-for="item in statuses"
                       :key="item.key"
                       :label="item.name"
                       :value="item">
            </el-option>
        </el-select>
    </div>


    <label class="col-lg-2 col-form-label text-lg-end">Status Date</label>
    <div class="col-lg-4">
        <el-date-picker v-model="form.statusDate"
                        type="date"
                        class="w-100"
                        value-format="YYYY-MM-DDTHH:mm:ss.SSS"
                        placeholder="Pick Date">
        </el-date-picker>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end"></label>
    <div class="col-lg-4">
        <el-checkbox v-model="form.isSensitiveData" border>Sensitive Data</el-checkbox>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">Start Date</label>
    <div class="col-lg-4">
        <el-date-picker v-model="form.startDate"
                        type="date"
                        class="w-100"
                        value-format="YYYY-MM-DDTHH:mm:ss.SSS"
                        placeholder="Pick Date">
        </el-date-picker>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">End Date</label>
    <div class="col-lg-4">
        <el-date-picker v-model="form.endDate"
                        type="date"
                        class="w-100"
                        value-format="YYYY-MM-DDTHH:mm:ss.SSS"
                        placeholder="Pick Date">
        </el-date-picker>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">Description</label>
    <div class="col-lg-10">
        <base-input type="textarea" v-model="form.description" id="description"></base-input>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">Objectives</label>
    <div class="col-lg-10">
        <base-input type="textarea" v-model="form.objectives" id="objectives"></base-input>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">Study Area</label>
    <div class="col-lg-10">
        <base-input type="textarea" v-model="form.studyArea" id="studyArea"></base-input>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">Methods</label>
    <div class="col-lg-10">
        <base-input type="textarea" v-model="form.methods" id="methods"></base-input>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">Comments</label>
    <div class="col-lg-10">
        <base-input type="textarea" v-model="form.comments" id="comments"></base-input>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">Results</label>
    <div class="col-lg-10">
        <base-input type="textarea" v-model="form.results" id="results"></base-input>
    </div>

    <label class="col-lg-2 col-form-label text-lg-end">Terms and Conditions</label>
    <div class="col-lg-10">
        <base-input type="textarea" v-model="form.termsAndConditions" id="termsAndConditions"></base-input>
    </div>
</div>
