@using Wmis.Extensions
@{
    ViewBag.Title = "Project";
    ViewBag.SubTitle = "New";
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/components/base"))
    @Html.Raw(Scripts.Render("~/bundles/project/new"))

}

<div class="row my-3">
    <div class="col-2 text-end">
        <label for="name">Name</label>
    </div>
    <div class="col-5 text-end">
        <base-input v-model="form.name" id="name"></base-input>
    </div>
</div>

<div class="row">
    <div class="col-7 text-end">
        <a href="/Project/Index" class="el-button el-button--danger is-plain btn">Cancel</a>
        @if (Html.UserIsProjectAdministrator())
        {
            <base-button color="success" size="large" v-on:click.prevent="submit()" :disabled="disabled">Save</base-button>
        }
    </div>
</div>
