@using Wmis.Extensions
<div class="row my-4">
    <div class="col-12 text-end">
        @if (Html.UserIsProjectAdministrator())
        {
            <base-button  size="small"  :plain="true" v-on:click="launchNewPage()">
                New Site
            </base-button>
        }
        <base-button size="small" :disabled="disabled" color="success" v-on:click="launchEditPage()">
            @if (Html.UserIsProjectAdministrator())
            {
                <span>View</span>
            }
            else
            {
                <span>Open</span>
            } Site
        </base-button>
    </div>
</div>

<table id="sitesTable" class="table w-100 table-sm">
    <thead>
        <tr>
            <th>Site Number</th>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Date Established</th>
        </tr>
    </thead>
</table>