@using Wmis.Extensions
@{
    ViewBag.Title = "COSEWIC Status";
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/datatablescss"))
}

@section Scripts {
    @Html.Raw(Scripts.Render("~/bundles/datatables"))
    @Html.Raw(Scripts.Render("~/bundles/cosewicstatus/index"))
}

<div class="row my-3">
    <div class="col-md-12 d-flex justify-content-end">

        <div>
            @if (Html.UserIsBiodiversityAdministrator())
            {
                <a href="/cosewicstatus/New" class="btn btn-success btn-sm me-2">New</a>
            }
            <a v-bind:href=`/cosewicstatus/Edit/${selectedKey}` id="editButton" class="btn btn-primary btn-sm me-2" v-bind:class="{'disabled' : !isSelected}">
                View
            </a>
        </div>
    </div>
</div>

<div class="card bg-light">
    <div class="card-body">
        <div class="row g-3">
            <div class="col">
                <label class="form-label visually-hiddenx">Keywords</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="" id="keyword" v-model="form.keywords">
                    <button id="searchbtn" class="btn btn-info" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        <table id="cosewicstatus" class="table table-sm w-100">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Name</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

