<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="DixServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ws-argos.cls.fr/argosDws/services/DixService"
                binding="customBinding" bindingConfiguration="DixServiceSoapBinding"
                contract="ArgosService.DixServicePortType" name="DixServicePort" />
        </client>
    </system.serviceModel>
</configuration>