@using Wmis.Extensions
@{
    ViewBag.Title = "PROCESS POST-RETRIEVAL DATA";
}

@section TopRight{
    <div class="h4 pull-right" style="text-align: right; margin:0;">
        WMIS Tools
    </div>
}

@section Styles {
    @Html.Raw(Styles.Render("~/bundles/tabs"))
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
}

@section Scripts{
    @Html.Raw(Scripts.Render("~/Scripts/xlsx.full.min.js"))
    @Html.Raw(Scripts.Render("~/bundles/vue"))
    @Html.Raw(Scripts.Render("~/bundles/tools/postretrievaldataprocessing"))
}

<!-- Tabs Style1 Start -->
<section class="sec-spacer row" id="app">
    <div v-cloak>
        <div class="row">
            <div class="col-md-12">
                <p class="tc-tab-desc">
                    Use this to load Telonics (Argos and Iridium) data downloaded from the collar after retrieval to the 
                    WMIS database. 
                    Browse and select the downloaded CSV file, and then click on "Preview Data". 
                    Then click on "Load Data". This tool only inserts records that are not already in the database, so there will be no data duplication.
                </p>
                <hr />
            </div>

            <div class="col-md-12" v-if="message && message.text">
                <div :class="`alert alert-${message.class} fade in alert-dismissible`">
                    {{ message.text }}
                </div>
            </div>

            <div class="col-md-12 text-center" v-if="busy">
                <i class="fa fa-cog fa-spin"></i> Busy. Please wait...
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="batchUploadFile">Browse CSV File</label>
                    <input type="file" id="downloadedFile" ref="downloadedFile" accept="csv" @@change="handleFileUpload()">
                    <p class="help-block">Only .csv files are supported.</p>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-danger" @@click.prevent="uploadFile()" v-if="!showTable && fileChosen">
                    Upload File
                </button>
                <button class="btn btn-success" v-on:click="runProcess()" :disabled="busy" v-if="showTable">
                    Load Data to WMIS
                </button>
            </div>
        </div>

        <template v-if="showTable">
            <div class="row clearfix" style="margin-bottom: 10px;">
                <div class="col-md-12">
                    <div class="wellx" style="max-height: 500px; overflow-y: auto; overflow-x: auto;">
                        <table class="table table-condensed table-striped table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <td>CTN</td>
                                    <td>Timestamp</td>
                                    <td>Latitude</td>
                                    <td>Longitude</td>
                                    <td>Location Class</td>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr v-for="item in data">
                                    <td>{{ item.ctn }}</td>
                                    <td>{{ item.timestamp }}</td>
                                    <td>{{ item.gpsLatitude }}</td>
                                    <td>{{ item.gpsLongitude }}</td>
                                    <td>{{ item.locationClass }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </template>
    </div>
</section>
