main > .container {
    padding: 60px 15px 0;
}
.navbar-dark {
    background-image: none !important;
    background-color: #0f599a !important;
    border-color: #022f5a !important;
    border-bottom: 6px solid #2699d5 !important;
}
.form-control:focus {
    border-color: #86b7fe;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset, 0px 0px 0px rgba(255, 100, 255, 0);
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection,
.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%) !important;
}
 

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #317eac;
}

h1, .h1 {
    font-size: 25px;
}
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
    font-size: 65%;
    color: #999999;
}
a{
    text-decoration: none !important;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

.generalGroup input {
    background-color: #4D708A;
    color: black;
}
.abundanceGroup input {
    background-color: #996014;
    color: black;
}
.distributionGroup input {
    background-color: #27814E;
    color: black;
}
.trendsGroup input {
    background-color: #D78772;
    color: black;
}
.threatsGroup input {
    background-color: #D7AB72;
    color: black;
}
.statusGroup input {
    background-color: #B65137;
    color: black;
}
/*.select2-container--bootstrap-5 {
    z-index: 10000 !important;
}

.select2-dropdown {
    z-index: 10051
}*/

.select2-selection--multiple .select2-selection__choice {
    font-size: 13px !important;
    line-height: 13px !important;
    width: 100% !important;
}
.select2-selection--multiple .select2-selection__choice button {
    font-size: 10px !important;
    font-weight: bolder !important;
    width: .5rem !important;
    height: .5rem !important;
}

.el-drop{
    max-width: 800px;
}

.references .el-select__tags {
    max-width: 100% !important
}
.references .el-select__tags span {
    width: 99% !important;
}
.el-drop li {
    white-space: normal;
    float: left;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    line-height: 16px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: normal !important;
    padding: 5px 10px;
}
.el-select .el-select__tags-text{
    color: black;
}
.el-select .el-select__tags-text {
    white-space: normal;
    word-wrap: break-word;
}

.references .el-tag--small {
    height: auto !important;
    padding: 0 8px;
    line-height: 22px;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin-bottom: 10px !important;
}

.references .el-select-dropdown__item.selected{
    display: none !important;
}


.q-field .row {
    --bs-gutter-x: 0rem !important;
    --bs-gutter-y: 0;
}
.q-field .q-field__append.row {
    width: auto !important;
}
.q-textarea .q-field__control {
    min-height: 100px !important;
    height: auto;
}


tr.highlightPassRow {
    background-color: rgb(0,230,77) !important;
}

#locationTable tr.warning-status {
    background-color: goldenrod;
}

#locationTable tr.rejected-status {
    background-color: tomato;
}